In [1]:
!pip install SPARQLWrapper

Collecting SPARQLWrapper
  Downloading https://files.pythonhosted.org/packages/00/9b/443fbe06996c080ee9c1f01b04e2f683b2b07e149905f33a2397ee3b80a2/SPARQLWrapper-1.8.5-py3-none-any.whl
Collecting rdflib>=4.0
  Downloading https://files.pythonhosted.org/packages/d0/6b/6454aa1db753c0f8bc265a5bd5c10b5721a4bb24160fb4faf758cf6be8a1/rdflib-5.0.0-py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 6.2MB/s
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (2.4.7)
Collecting isodate
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 5.0MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (1.15.0)
Installing collected packages: isodate, rdflib, SPARQLWrapper
Successfully installed SPARQLWrapper-1.8.5 isodate-0.6.0 rdflib-5.0.0

In [2]:
import pandas as pd
import ast
import math
from textblob import TextBlob
import re
import numpy as np
import csv
# import seaborn
import statistics
from SPARQLWrapper import SPARQLWrapper, JSON
import json

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [4]:
root_dir = '/content/drive/MyDrive/ProgettoAI/dataset/'
clinton = pd.read_csv(root_dir+'clinton_corrected.csv')

In [5]:
class DbpediaObject:

  def __init__(self, string):
    json_parsed = ast.literal_eval(string)
    self.confidence = float(json_parsed['@confidence'])
    self.text = json_parsed['@text']
    self.entities = []
    try:
      self._set_entities(json_parsed['Resources'])
    except:
      None



  def _set_entities(self, lista):
    for el in lista:
      if(el['@surfaceForm'] != 't.co'):
        self.entities.append(Entity(el))

In [6]:
class Entity:
  def __init__(self, json_parsed):
    self.original_text = json_parsed['@surfaceForm']
    self.label = json_parsed['@URI'].split('/')[-1]
    self.uri = json_parsed['@URI']
    self.similarity = json_parsed['@similarityScore']
    self.types = []
    self.schema = []
    self._set_types(json_parsed['@types'])

  def _set_types(self, raw_list):
      raw_split = raw_list.split(',')
      for el in raw_split:
        x = el.split(':')
        if x[0] == 'DBpedia':
          self.types.append(x[1])
        if x[0] == 'Wikidata':
          self.wikidata = x[1]
        if x[0] == 'Schema':
          self.schema.append(x[1])

In [7]:
def count_empty_list(lista):
  count = 0
  for el in lista:
    if len(el) == 0:
      count = count +1
  return count

In [8]:
def entita_filter_by_type(tipo, df_entita):
  cit = list()
  count_cit = list()
  entities_cit = list()
  plain_text = list()

  for index, row in df_entita.iterrows():
    if tipo in row['entita'].types:
      cit.append(row['entita'].label)
      count_cit.append(row['count'])
      entities_cit.append(row['entita'].uri)
      plain_text.append(row['plain_text'])
  return pd.DataFrame(list(zip(cit,count_cit,entities_cit,plain_text)), columns=['label', 'count', 'uri','plain_text']).sort_values('count', ascending=False)

#clinton

In [9]:
lista = []
for index, el in clinton.iterrows():
  try:
    lista.append(DbpediaObject(el['dbpedia']))
  except:
    print(index)
clinton['dbpedia_object'] = lista

In [10]:
clinton=clinton.drop('Unnamed: 0', axis=1)
clinton=clinton.drop('Unnamed: 0.1', axis=1)
clinton

              handle  ...                                     dbpedia_object
0     HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b894b7048>
1     HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b89508fd0>
2     HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b894b7278>
3     HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b894b72e8>
4     HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b894b7198>
...              ...  ...                                                ...
3221  HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b88d9b390>
3222  HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b88e07eb8>
3223  HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b88d9b8d0>
3224  HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b88d9ba90>
3225  HillaryClinton  ...  <__main__.DbpediaObject object at 0x7f0b88d98898>

[3226 rows x 9 columns]

In [11]:
clinton_list_entities = list(x.entities for x in clinton['dbpedia_object'])

In [12]:
x = round(count_empty_list(clinton_list_entities)/len(clinton_list_entities)*100,2)
print("% of tweet without entities: ", x)

% of tweet without entities:  12.43

In [13]:
num_entities = [i.label for x in clinton_list_entities for i in x]
print("Different entities found", len(set(num_entities)))

Different entities found 1718

In [14]:
num_entities = [i.original_text for x in clinton_list_entities for i in x]
print("Different labels found", len(set(num_entities)))

Different labels found 1901

In [15]:
num_entities = [i for x in clinton_list_entities for i in x]
print("Entities found", len(num_entities))

Entities found 6615

In [16]:
entities_count_clinton = dict((el.label,el) for el in [i for x in clinton_list_entities for i in x])
entita_clinton = list(entities_count_clinton.values())
entities_count_clinton = list(np.zeros(len(entita_clinton), dtype=int))
clinton_labels = [x.label for x in entita_clinton]
clinton_types =  [x.types for x in entita_clinton]
# clinton_schema =  [x.schema for x in entita_clinton]

for el in clinton['dbpedia_object']:
  for entity in el.entities:
    index = clinton_labels.index(entity.label)
    entities_count_clinton[index] = entities_count_clinton[index] + 1

entities_frame = pd.DataFrame(list(zip(entita_clinton, clinton_labels,entities_count_clinton,clinton_types)), columns=['entita', 'label', 'count','types'])
# entities_frame.sort_values('count', ascending=False)

In [17]:
clinton_types = list(set(tipo for el in entities_frame['types'] for tipo in el))
clinton_types.append('Without_type')
clinton_types_count = list(np.zeros(len(clinton_types),dtype=int))

for ent_list in clinton_list_entities:
  for ent in ent_list:
    if not ent.types:
      clinton_types_count[len(clinton_types_count)-1] = clinton_types_count[len(clinton_types_count)-1] + 1
    for tipo in ent.types:
      index = clinton_types.index(tipo)
      clinton_types_count[index] = clinton_types_count[index] + 1
tipi_clinton_frame = pd.DataFrame(list(zip(clinton_types, clinton_types_count)), columns = ['tipo', 'count'])
tipi_clinton_frame.sort_values('count', ascending=False).iloc[0:20]

                     tipo  count
164          Without_type   3455
90                  Agent   1720
44                 Person   1265
51             Politician   1180
66               Location    753
142                 Place    753
103        PopulatedPlace    700
12           Organisation    428
94                Country    422
107                  Work    360
34   AdministrativeRegion    163
159                Region    163
40            MusicalWork    151
67             Settlement    108
3       ChemicalSubstance    108
59       ChemicalCompound    107
16         PoliticalParty    101
77                   Song     81
108        TelevisionShow     79
118                  City     76

In [18]:
# total = []
# for en in entities_frame['entita']:
  # partial = []
  # for i in range(0,len(clinton)):
    # if en.label in [x.label for x in clinton.iloc[i]['dbpedia_object'].entities]:
      # partial.append(i)
  # total.append(partial)

In [19]:
# with open("clinton_entities_occurrence.csv", "w", newline="") as f:
    # writer = csv.writer(f)
    # writer.writerows(total)

In [20]:
total = []
with open('/content/drive/MyDrive/ProgettoAI/dataset/clinton_entities_occurrence.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    for row in spamreader:
      total.append({int(x) for x in row})

In [21]:
entities_frame['occurrences'] = total

In [22]:
plain_text = []
for index, el in entities_frame.iterrows():
  partial = set()
  for i in el['occurrences']:
    for entity in clinton.iloc[i]['dbpedia_object'].entities:
      if entity.label == el['label']:
        partial.add(entity.original_text)
  plain_text.append(partial)

In [23]:
entities_frame['plain_text'] = plain_text
entities_frame.sort_values('count', ascending=False)

                                          entita  ...                                         plain_text
1     <__main__.Entity object at 0x7f0b88df6da0>  ...             {Donald Trump, Trump, President Trump}
2     <__main__.Entity object at 0x7f0b88e07f60>  ...  {President, @POTUS, United States presidency, ...
8     <__main__.Entity object at 0x7f0b88e0e710>  ...  {U.S., USA, Estados Unidos, americanos, US, Un...
52    <__main__.Entity object at 0x7f0b88e34048>  ...  {@realdonaldtrump, @realDonaldTrump, @RealDona...
44    <__main__.Entity object at 0x7f0b88d9b908>  ...                         {Hillary Clinton, Clinton}
...                                          ...  ...                                                ...
906   <__main__.Entity object at 0x7f0b891a5550>  ...                                               {fe}
269   <__main__.Entity object at 0x7f0b893eb6a0>  ...                                        {Symposium}
270   <__main__.Entity object at 0x7f0b893eb978>  ...                                          {weather}
903   <__main__.Entity object at 0x7f0b891aabe0>  ...                                           {trusts}
1717  <__main__.Entity object at 0x7f0b88d982e8>  ...                                      {East Harlem}

[1718 rows x 6 columns]

In [ ]:
for i in tipi_clinton_frame.sort_values('count', ascending=False).iloc[1:]['tipo']:
  print('-------------------------------','TIPO:',i,'--------------------------------------')
  display(entita_filter_by_type(i,entities_frame).iloc[:5])

------------------------------- TIPO: Agent --------------------------------------

                               label  ...                                         plain_text
0                       Donald_Trump  ...             {President Trump, Trump, Donald Trump}
7                    Hillary_Clinton  ...                         {Clinton, Hillary Clinton}
14  Republican_Party_(United_States)  ...  {Republicans, Republican, Republican party, Re...
9                       Barack_Obama  ...             {Obama, Barack Obama, President Obama}
33              United_States_Senate  ...   {United States Senate, Senator, Senate, senator}

[5 rows x 4 columns]

------------------------------- TIPO: Person --------------------------------------

              label  ...                              plain_text
0      Donald_Trump  ...  {President Trump, Trump, Donald Trump}
3   Hillary_Clinton  ...              {Clinton, Hillary Clinton}
4      Barack_Obama  ...  {Obama, Barack Obama, President Obama}
29       Mike_Pence  ...                        {VP, Mike Pence}
9      Bill_Clinton  ...                 {Clinton, Bill Clinton}

[5 rows x 4 columns]

------------------------------- TIPO: Politician --------------------------------------

              label  ...                              plain_text
0      Donald_Trump  ...  {President Trump, Trump, Donald Trump}
1   Hillary_Clinton  ...              {Clinton, Hillary Clinton}
2      Barack_Obama  ...  {Obama, Barack Obama, President Obama}
16       Mike_Pence  ...                        {VP, Mike Pence}
4      Bill_Clinton  ...                 {Clinton, Bill Clinton}

[5 rows x 4 columns]

------------------------------- TIPO: Place --------------------------------------

            label  ...                                         plain_text
0   United_States  ...  {United States, U.S., americanos, America, USA...
8   New_York_City  ...                    {NY, Nueva York, NYC, New York}
34    White_House  ...                                      {White House}
16         Mexico  ...                        {Mexican, Mexico, Mexicans}
9        Virginia  ...                                 {Virginia, va, VA}

[5 rows x 4 columns]

------------------------------- TIPO: Location --------------------------------------

            label  ...                                         plain_text
0   United_States  ...  {United States, U.S., americanos, America, USA...
8   New_York_City  ...                    {NY, Nueva York, NYC, New York}
34    White_House  ...                                      {White House}
16         Mexico  ...                        {Mexican, Mexico, Mexicans}
9        Virginia  ...                                 {Virginia, va, VA}

[5 rows x 4 columns]

------------------------------- TIPO: PopulatedPlace --------------------------------------

            label  ...                                         plain_text
0   United_States  ...  {United States, U.S., americanos, America, USA...
6   New_York_City  ...                    {NY, Nueva York, NYC, New York}
12         Mexico  ...                        {Mexican, Mexico, Mexicans}
7        Virginia  ...                                 {Virginia, va, VA}
11        Indiana  ...                                      {Indiana, IN}

[5 rows x 4 columns]

------------------------------- TIPO: Organisation --------------------------------------

                               label  ...                                         plain_text
5   Republican_Party_(United_States)  ...  {Republicans, Republican, Republican party, Re...
17              United_States_Senate  ...   {United States Senate, Senator, Senate, senator}
2                    RT_(TV_network)  ...                                               {RT}
1   Democratic_Party_(United_States)  ...  {Democrats, Democratic Party, Democrat, Democr...
9                      Orlando_Magic  ...                                          {Orlando}

[5 rows x 4 columns]

------------------------------- TIPO: Country --------------------------------------

            label  ...                                         plain_text
0   United_States  ...  {United States, U.S., americanos, America, USA...
5          Mexico  ...                        {Mexican, Mexico, Mexicans}
3          Russia  ...                                           {Russia}
2            Iraq  ...                                             {Iraq}
12     Bangladesh  ...                                       {Bangladesh}

[5 rows x 4 columns]

------------------------------- TIPO: Work --------------------------------------

                 label  ...                            plain_text
3     The_Tonight_Show  ...                    {Tonight, tonight}
6              Twitter  ...  {tweeting, Twitter, retweets, tweet}
7   The_New_York_Times  ...               {NYT, NYTimes, nytimes}
53            Facebook  ...                            {Facebook}
27         Más_(album)  ...                                 {más}

[5 rows x 4 columns]

------------------------------- TIPO: Region --------------------------------------

             label  ...                   plain_text
1         Virginia  ...           {Virginia, va, VA}
4          Indiana  ...                {Indiana, IN}
16    Pennsylvania  ...           {PA, Pennsylvania}
0   North_Carolina  ...  {North Carolina, North, NC}
5             Ohio  ...                       {Ohio}

[5 rows x 4 columns]

------------------------------- TIPO: AdministrativeRegion --------------------------------------

             label  ...                   plain_text
1         Virginia  ...           {Virginia, va, VA}
4          Indiana  ...                {Indiana, IN}
16    Pennsylvania  ...           {PA, Pennsylvania}
0   North_Carolina  ...  {North Carolina, North, NC}
5             Ohio  ...                       {Ohio}

[5 rows x 4 columns]

------------------------------- TIPO: MusicalWork --------------------------------------

                         label  ...                        plain_text
12                 Más_(album)  ...                             {más}
36       Listen_(Beyoncé_song)  ...                          {listen}
5        Happy_Birthday_to_You  ...  {happy birthday, Happy birthday}
26      Listen_(BeyoncÃ©_song)  ...                          {listen}
9   Thrilled_(Punchline_album)  ...              {thrilled, Thrilled}

[5 rows x 4 columns]

------------------------------- TIPO: Settlement --------------------------------------

                        label  ...                       plain_text
0               New_York_City  ...  {NY, Nueva York, NYC, New York}
3                Philadelphia  ...                   {Philadelphia}
9                   Cleveland  ...                      {Cleveland}
11                    Detroit  ...                        {Detroit}
12  Atlantic_City,_New_Jersey  ...                  {Atlantic City}

[5 rows x 4 columns]

------------------------------- TIPO: ChemicalSubstance --------------------------------------

      label  count                                   uri plain_text
0  Hydrogen    106  http://dbpedia.org/resource/Hydrogen        {H}
1    Heroin      1    http://dbpedia.org/resource/Heroin   {heroin}
2    Silver      1    http://dbpedia.org/resource/Silver   {silver}

------------------------------- TIPO: ChemicalCompound --------------------------------------

      label  count                                   uri plain_text
0  Hydrogen    106  http://dbpedia.org/resource/Hydrogen        {H}
1    Silver      1    http://dbpedia.org/resource/Silver   {silver}

------------------------------- TIPO: PoliticalParty --------------------------------------

                                            label  ...                                         plain_text
1                Republican_Party_(United_States)  ...  {Republicans, Republican, Republican party, Re...
0                Democratic_Party_(United_States)  ...  {Democrats, Democratic Party, Democrat, Democr...
7             New_York_Republican_State_Committee  ...                                              {GOP}
2   History_of_the_United_States_Democratic_Party  ...                      {Democratic Party, Democrats}
12                                   Republicanos  ...                                     {republicanos}

[5 rows x 4 columns]

------------------------------- TIPO: Song --------------------------------------

                       label  ...                        plain_text
14     Listen_(Beyoncé_song)  ...                          {listen}
3      Happy_Birthday_to_You  ...  {happy birthday, Happy birthday}
9     Listen_(BeyoncÃ©_song)  ...                          {listen}
17  Everybody_(Madonna_song)  ...                       {Everybody}
12            American_Woman  ...  {American woman, American Woman}

[5 rows x 4 columns]

------------------------------- TIPO: TelevisionShow --------------------------------------

                                       label  ...           plain_text
1                           The_Tonight_Show  ...   {Tonight, tonight}
10           This_Week_(American_TV_program)  ...          {This week}
2   Between_Two_Ferns_with_Zach_Galifianakis  ...  {Between Two Ferns}
0                           CBS_This_Morning  ...       {This morning}
6                           Twenty_Questions  ...       {20 questions}

[5 rows x 4 columns]

------------------------------- TIPO: City --------------------------------------

                       label  ...                       plain_text
0              New_York_City  ...  {NY, Nueva York, NYC, New York}
1               Philadelphia  ...                   {Philadelphia}
6                  Cleveland  ...                      {Cleveland}
7                    Detroit  ...                        {Detroit}
8  Atlantic_City,_New_Jersey  ...                  {Atlantic City}

[5 rows x 4 columns]

------------------------------- TIPO: Company --------------------------------------

                            label  ...          plain_text
2                Trump_University  ...  {Trump University}
1                Imagine_Software  ...           {Imagine}
3   Democratic_National_Committee  ...               {DNC}
6   Republican_National_Committee  ...               {RNC}
13                Sterling_Trucks  ...          {Sterling}

[5 rows x 4 columns]

------------------------------- TIPO: Album --------------------------------------

                              label  ...                          plain_text
6                       Más_(album)  ...                               {más}
4        Thrilled_(Punchline_album)  ...                {thrilled, Thrilled}
0                   Young_Americans  ...  {Young Americans, young Americans}
12  Stronger_(Kelly_Clarkson_album)  ...                          {Stronger}
2         Traveling_Wilburys_Vol._1  ...                   {Congratulations}

[5 rows x 4 columns]

------------------------------- TIPO: Disease --------------------------------------

                      label  ...                                      plain_text
11  High-functioning_autism  ...                                           {HFA}
0                 Addiction  ...          {Addiction, addiction, drug addiction}
2                  Paranoia  ...                                      {paranoia}
16                Pregnancy  ...                          {Pregnancy, pregnancy}
15          Substance_abuse  ...  {Drug abuse, Substance abuse, substance abuse}

[5 rows x 4 columns]

------------------------------- TIPO: Legislature --------------------------------------

                                    label  ...                                        plain_text
0                    United_States_Senate  ...  {United States Senate, Senator, Senate, senator}
2                  United_States_Congress  ...                                        {Congress}
1  United_States_House_of_Representatives  ...                                     {H.R., House}
3                         Senate_of_Spain  ...                                          {Senado}

[4 rows x 4 columns]

------------------------------- TIPO: WrittenWork --------------------------------------

                           label  ...               plain_text
0             The_New_York_Times  ...  {NYT, NYTimes, nytimes}
3             Respect_(magazine)  ...               {respect.}
7                       Newsweek  ...               {Newsweek}
22                        Semana  ...                 {semana}
17  What_Happened_(Clinton_book)  ...          {What happened}

[5 rows x 4 columns]

------------------------------- TIPO: Broadcaster --------------------------------------

              label  ...    plain_text
0   RT_(TV_network)  ...          {RT}
2              KTSU  ...  {The choice}
9               CNN  ...         {CNN}
3             MSNBC  ...       {MSNBC}
1  NEW_(TV_station)  ...         {NEW}

[5 rows x 4 columns]

------------------------------- TIPO: PeriodicalLiterature --------------------------------------

                      label  ...               plain_text
0        The_New_York_Times  ...  {NYT, NYTimes, nytimes}
2        Respect_(magazine)  ...               {respect.}
4                  Newsweek  ...               {Newsweek}
7  Look_(American_magazine)  ...                   {Look}
8        Fact_(UK_magazine)  ...                   {FACT}

[5 rows x 4 columns]

------------------------------- TIPO: Website --------------------------------------

                                        label  ...                            plain_text
0                                     Twitter  ...  {tweeting, Twitter, retweets, tweet}
3                                    Facebook  ...                            {Facebook}
5  Electronic_System_for_Travel_Authorization  ...                                {esta}
1                                      Tumblr  ...                              {Tumblr}
2                              Breitbart_News  ...                           {Breitbart}

[5 rows x 4 columns]

------------------------------- TIPO: ArchitecturalStructure --------------------------------------

                                        label  ...       plain_text
2                                 White_House  ...    {White House}
6                 Atlantic_City_Rail_Terminal  ...  {Atlantic City}
1  Foundation_for_Art_and_Creative_Technology  ...           {FACT}
5                               Hotel_Roanoke  ...  {Hotel Roanoke}
8                             Castle_of_Salir  ...          {salir}

[5 rows x 4 columns]

------------------------------- TIPO: TelevisionStation --------------------------------------

                          label  ...  plain_text
0               RT_(TV_network)  ...        {RT}
6                           CNN  ...       {CNN}
2                         MSNBC  ...     {MSNBC}
1              NEW_(TV_station)  ...       {NEW}
3  Gold_(Australian_TV_channel)  ...  {win gold}

[5 rows x 4 columns]

------------------------------- TIPO: EthnicGroup --------------------------------------

                           label  ...                                    plain_text
1              African_Americans  ...  {African American, Black, African Americans}
2  Hispanic_and_Latino_Americans  ...                            {Latinos, latinos}
5              Mexican_Americans  ...         {Mexican Americans, Mexican-American}
7                White_Americans  ...                             {White Americans}
8                        Refugee  ...                           {refugee, refugees}

[5 rows x 4 columns]

------------------------------- TIPO: SportsTeam --------------------------------------

                            label  ...   plain_text
1                   Orlando_Magic  ...    {Orlando}
2                        IF_Ready  ...      {Ready}
0               Charlotte_Hornets  ...  {Charlotte}
3  History_of_the_Oakland_Raiders  ...    {Oakland}

[4 rows x 4 columns]

------------------------------- TIPO: AnatomicalStructure --------------------------------------

                    label  ...  plain_text
0                   Heart  ...     {heart}
1                   Brain  ...     {brain}
3                    Skin  ...      {skin}
2                  Finger  ...    {finger}
4  Gastrointestinal_tract  ...       {gut}

[5 rows x 4 columns]

------------------------------- TIPO: SocietalEvent --------------------------------------

                                      label  ...            plain_text
2                              World_War_II  ...  {WWII, World War II}
1  2016_United_States_presidential_election  ...            {election}
5    2008_South_Carolina_Democratic_primary  ...          {Democratic}
9                              IWRG_La_Isla  ...             {la Isla}
0                     2003_invasion_of_Iraq  ...            {invasion}

[5 rows x 4 columns]

------------------------------- TIPO: Event --------------------------------------

                                      label  ...            plain_text
2                              World_War_II  ...  {WWII, World War II}
1  2016_United_States_presidential_election  ...            {election}
5    2008_South_Carolina_Democratic_primary  ...          {Democratic}
9                              IWRG_La_Isla  ...             {la Isla}
0                     2003_invasion_of_Iraq  ...            {invasion}

[5 rows x 4 columns]

------------------------------- TIPO: SportsClub --------------------------------------

                      label  ...  plain_text
0     Portland_Timbers_U23s  ...       {por}
2              Chelsea_F.C.  ...   {Chelsea}
6        Portland_Thorns_FC  ...       {por}
1          Hyde_United_F.C.  ...      {Hyde}
3  Hamilton_Academical_F.C.  ...  {Hamilton}

[5 rows x 4 columns]

------------------------------- TIPO: FictionalCharacter --------------------------------------

               label  ...   plain_text
0         Miss_Piggy  ...      {Piggy}
3    Janelle_Timmins  ...    {Janelle}
1   Alicia_Gallagher  ...     {Alicia}
10   Christine_Blair  ...  {Christine}
6       Cheryl_Stark  ...     {Cheryl}

[5 rows x 4 columns]

------------------------------- TIPO: SoccerClub --------------------------------------

                      label  ...  plain_text
0     Portland_Timbers_U23s  ...       {por}
2              Chelsea_F.C.  ...   {Chelsea}
5        Portland_Thorns_FC  ...       {por}
1          Hyde_United_F.C.  ...      {Hyde}
3  Hamilton_Academical_F.C.  ...  {Hamilton}

[5 rows x 4 columns]

------------------------------- TIPO: Band --------------------------------------

            label  ...    plain_text
1      Yes_(band)  ...         {Yes}
5  Stiffed_(band)  ...     {stiffed}
8         Humanos  ...     {humanos}
0         53_Days  ...     {53 days}
2      Dream_Evil  ...  {mark black}

[5 rows x 4 columns]

------------------------------- TIPO: Group --------------------------------------

            label  ...    plain_text
1      Yes_(band)  ...         {Yes}
5  Stiffed_(band)  ...     {stiffed}
8         Humanos  ...     {humanos}
0         53_Days  ...     {53 days}
2      Dream_Evil  ...  {mark black}

[5 rows x 4 columns]

------------------------------- TIPO: Building --------------------------------------

                                               label  ...       plain_text
1                                        White_House  ...    {White House}
4                                      Hotel_Roanoke  ...  {Hotel Roanoke}
5                                    Castle_of_Salir  ...          {salir}
0  National_Museum_of_African_American_History_an...  ...         {NMAAHC}
2                                             Mosque  ...         {mosque}

[5 rows x 4 columns]

------------------------------- TIPO: Film --------------------------------------

                        label  ...        plain_text
2          Every_Child_(film)  ...     {Every child}
0                     Respeto  ...         {respeto}
5         La_comunidad_(film)  ...    {la comunidad}
12  The_Terrorist_(1962_film)  ...   {el terrorista}
11             Deadly_Weapons  ...  {deadly weapons}

[5 rows x 4 columns]

------------------------------- TIPO: BasketballTeam --------------------------------------

               label  ...   plain_text
1      Orlando_Magic  ...    {Orlando}
0  Charlotte_Hornets  ...  {Charlotte}

[2 rows x 4 columns]

------------------------------- TIPO: Magazine --------------------------------------

                       label  ...  plain_text
1         Respect_(magazine)  ...  {respect.}
2                   Newsweek  ...  {Newsweek}
5   Look_(American_magazine)  ...      {Look}
6         Fact_(UK_magazine)  ...      {FACT}
10                    Semana  ...    {semana}

[5 rows x 4 columns]

------------------------------- TIPO: Newspaper --------------------------------------

                label  ...               plain_text
0  The_New_York_Times  ...  {NYT, NYTimes, nytimes}
3         Real_Change  ...            {real change}
1       Florida_Today  ...          {Florida today}
2          La_Segunda  ...             {la segunda}
4             El_País  ...                {el país}

[5 rows x 4 columns]

------------------------------- TIPO: SoapCharacter --------------------------------------

              label  ...   plain_text
0  Alicia_Gallagher  ...     {Alicia}
2   Janelle_Timmins  ...    {Janelle}
3      Cheryl_Stark  ...     {Cheryl}
6   Christine_Blair  ...  {Christine}
1       Kate_Ramsay  ...       {Kate}

[5 rows x 4 columns]

------------------------------- TIPO: Activity --------------------------------------

                label  ...    plain_text
0           Go_(game)  ...          {Go}
1              Tennis  ...      {tennis}
2          Lifesaving  ...  {lifesaving}
3             Fencing  ...      {fencer}
4  Sport_of_athletics  ...     {athlete}

[5 rows x 4 columns]

------------------------------- TIPO: Artist --------------------------------------

               label  ...           plain_text
0      Gabby_Barrett  ...             {I hope}
4      Sido_(rapper)  ...               {sido}
7     Shah_Rukh_Khan  ...               {Khan}
1          Meat_Loaf  ...          {Meat Loaf}
2  Zach_Galifianakis  ...  {Zach Galifianakis}

[5 rows x 4 columns]

------------------------------- TIPO: Athlete --------------------------------------

                  label  ...              plain_text
8             Mark_Ella  ...                  {ella}
0           Bobby_Riggs  ...           {Bobby Riggs}
1  Jackie_Joyner-Kersee  ...  {Jackie Joyner-Kersee}
2         Wilma_Rudolph  ...         {Wilma Rudolph}
3        Michael_Phelps  ...        {Michael Phelps}

[5 rows x 4 columns]

------------------------------- TIPO: Holiday --------------------------------------

                 label  ...         plain_text
4              Ramadan  ...          {Ramadan}
0      Remembrance_Day  ...  {Remembrance Day}
8            Earth_Day  ...        {Earth Day}
1               Diwali  ...           {Diwali}
2  Golden_Week_(Japan)  ...      {Golden Week}

[5 rows x 4 columns]

------------------------------- TIPO: TimeInterval --------------------------------------

                 label  ...         plain_text
4              Ramadan  ...          {Ramadan}
0      Remembrance_Day  ...  {Remembrance Day}
8            Earth_Day  ...        {Earth Day}
1               Diwali  ...           {Diwali}
2  Golden_Week_(Japan)  ...      {Golden Week}

[5 rows x 4 columns]

------------------------------- TIPO: Election --------------------------------------

                                      label  ...       plain_text
0  2016_United_States_presidential_election  ...       {election}
1    2008_South_Carolina_Democratic_primary  ...     {Democratic}
2  2008_United_States_presidential_election  ...  {2008 election}

[3 rows x 4 columns]

------------------------------- TIPO: NaturalPlace --------------------------------------

                      label  ...        plain_text
1               Karla_Caves  ...           {Karla}
2          Des_Moines_River  ...      {Des Moines}
4  San_Bernardino_Mountains  ...  {San Bernardino}
0             Serio_(river)  ...           {serio}
3              Cuando_River  ...          {Cuando}

[5 rows x 4 columns]

------------------------------- TIPO: MilitaryConflict --------------------------------------

                   label  ...            plain_text
1           World_War_II  ...  {WWII, World War II}
0  2003_invasion_of_Iraq  ...            {invasion}
2     Battle_of_the_Alma  ...                {alma}
3           La_Violencia  ...        {la violencia}

[4 rows x 4 columns]

------------------------------- TIPO: Book --------------------------------------

                          label  ...           plain_text
1                      Disgrace  ...           {disgrace}
2      Stronger_Together_(book)  ...  {Stronger Together}
3  What_Happened_(Clinton_book)  ...      {What happened}
0                    Our_Choice  ...         {Our choice}
4                  Shooting_War  ...       {shooting war}

[5 rows x 4 columns]

------------------------------- TIPO: Town --------------------------------------

                     label  ...     plain_text
0               The_Bottom  ...   {The bottom}
1                  Beijing  ...      {Beijing}
6      Pensilvania,_Caldas  ...  {Pensilvania}
2                 Redcross  ...     {RedCross}
3  Santa_Fe,_Isle_of_Youth  ...        {la fe}

[5 rows x 4 columns]

------------------------------- TIPO: Infrastructure --------------------------------------

                                        label  ...       plain_text
1                 Atlantic_City_Rail_Terminal  ...  {Atlantic City}
0  Foundation_for_Art_and_Creative_Technology  ...           {FACT}
2                       Alton_railway_station  ...          {Alton}

[3 rows x 4 columns]

------------------------------- TIPO: MusicalArtist --------------------------------------

           label  count                                        uri   plain_text
0  Gabby_Barrett      4  http://dbpedia.org/resource/Gabby_Barrett     {I hope}
2  Sido_(rapper)      2  http://dbpedia.org/resource/Sido_(rapper)       {sido}
1      Meat_Loaf      1      http://dbpedia.org/resource/Meat_Loaf  {Meat Loaf}
3  Thara_Prashad      1  http://dbpedia.org/resource/Thara_Prashad      {Thara}
4  Rich_Robinson      1  http://dbpedia.org/resource/Rich_Robinson       {Rich}

------------------------------- TIPO: MeanOfTransportation --------------------------------------

                    label  ...         plain_text
5  British_Rail_Class_180  ...         {adelante}
0              Grob_G_109  ...         {vigilant}
1               NSB_El_18  ...            {el 18}
2      MS_American_Leader  ...  {American leader}
3           Renault_Fuego  ...            {fuego}

[5 rows x 4 columns]

------------------------------- TIPO: Game --------------------------------------

       label  count                                    uri plain_text
0  Go_(game)      9  http://dbpedia.org/resource/Go_(game)       {Go}

------------------------------- TIPO: Software --------------------------------------

                        label  ...            plain_text
2                    Snapchat  ...  {Snapchat, snapchat}
1                   Instagram  ...           {Instagram}
0  GuitarFreaks_and_DrumMania  ...          {inside-out}
3    Java_code_coverage_tools  ...           {cobertura}

[4 rows x 4 columns]

------------------------------- TIPO: Food --------------------------------------

              label  ...   plain_text
1              Taco  ...       {taco}
0  Madeleine_(cake)  ...  {madeleine}
2            Cookie  ...     {cookie}
3          Presunto  ...   {presunto}
4              Stew  ...       {stew}

[5 rows x 4 columns]

------------------------------- TIPO: RadioStation --------------------------------------

                 label  ...        plain_text
0                 KTSU  ...      {The choice}
1  High_Standards_(XM)  ...  {high standards}

[2 rows x 4 columns]

------------------------------- TIPO: Language --------------------------------------

                                 label  ...     plain_text
0                     Russian_language  ...      {Russian}
1                  Carolinian_language  ...  {Carolinians}
2  African-American_Vernacular_English  ...         {jive}
3                     Spanish_language  ...      {Spanish}
4                     English_language  ...      {English}

[5 rows x 4 columns]

------------------------------- TIPO: RecordLabel --------------------------------------

                label  ...    plain_text
1          VP_Records  ...          {VP}
0  Relentless_Records  ...  {relentless}
2          Work_Group  ...        {WORK}
3       Enjoy_Records  ...       {Enjoy}
4     Victory_Records  ...     {Victory}

[5 rows x 4 columns]

------------------------------- TIPO: Station --------------------------------------

                         label  ...       plain_text
0  Atlantic_City_Rail_Terminal  ...  {Atlantic City}
1        Alton_railway_station  ...          {Alton}

[2 rows x 4 columns]

------------------------------- TIPO: TradeUnion --------------------------------------

                                   label  ...                  plain_text
2  Service_Employees_International_Union  ...  {SEIU, SEIU International}
0              United_Automobile_Workers  ...                       {UAW}
1     United_Food_and_Commercial_Workers  ...                      {UFCW}

[3 rows x 4 columns]

------------------------------- TIPO: MilitaryUnit --------------------------------------

                        label  ...       plain_text
2          United_States_Army  ...           {Army}
3  United_States_Armed_Forces  ...  {U.S. military}
0     United_States_Air_Force  ...           {USAF}
1    United_States_Navy_SEALs  ...          {SEALs}

[4 rows x 4 columns]

------------------------------- TIPO: Cave --------------------------------------

         label  count                                      uri plain_text
0  Karla_Caves      6  http://dbpedia.org/resource/Karla_Caves    {Karla}

------------------------------- TIPO: MusicGenre --------------------------------------

         label  count                                      uri plain_text
2   Soul_music      2   http://dbpedia.org/resource/Soul_music     {soul}
0   Rock_music      1   http://dbpedia.org/resource/Rock_music     {rock}
1  Swing_music      1  http://dbpedia.org/resource/Swing_music    {swing}
3        Plena      1        http://dbpedia.org/resource/Plena    {plena}

------------------------------- TIPO: Currency --------------------------------------

                  label  ...       plain_text
1  United_States_dollar  ...  {cents, dollar}
0        Pound_sterling  ...  {pound, pounds}

[2 rows x 4 columns]

------------------------------- TIPO: Sport --------------------------------------

                label  ...    plain_text
0              Tennis  ...      {tennis}
1          Lifesaving  ...  {lifesaving}
2             Fencing  ...      {fencer}
3  Sport_of_athletics  ...     {athlete}
4     Shooting_sports  ...     {shooter}

[5 rows x 4 columns]

------------------------------- TIPO: Royalty --------------------------------------

                   label  ...   plain_text
1    Madeleine_of_Valois  ...  {Madeleine}
0           Elizabeth_II  ...  {Elizabeth}
2  Queen_Rania_of_Jordan  ...      {Rania}
3  Diane_von_Fürstenberg  ...        {DVF}

[4 rows x 4 columns]

------------------------------- TIPO: CityDistrict --------------------------------------

                           label  ...            plain_text
0                       Brooklyn  ...            {Brooklyn}
1                         Queens  ...          {Queens, NY}
2  Washington_Heights,_Manhattan  ...  {Washington Heights}
3                    East_Harlem  ...         {East Harlem}

[4 rows x 4 columns]

------------------------------- TIPO: TopicalConcept --------------------------------------

         label  count                                      uri plain_text
2   Soul_music      2   http://dbpedia.org/resource/Soul_music     {soul}
0   Rock_music      1   http://dbpedia.org/resource/Rock_music     {rock}
1  Swing_music      1  http://dbpedia.org/resource/Swing_music    {swing}
3        Plena      1        http://dbpedia.org/resource/Plena    {plena}

------------------------------- TIPO: SportsEvent --------------------------------------

                  label  ...            plain_text
2          IWRG_La_Isla  ...             {la Isla}
0  1988_Summer_Olympics  ...  {1988 Olympic games}
1  1900_Summer_Olympics  ...          {Paris 1900}
3       Vuelta_a_España  ...              {vuelta}

[4 rows x 4 columns]

------------------------------- TIPO: Genre --------------------------------------

         label  count                                      uri plain_text
2   Soul_music      2   http://dbpedia.org/resource/Soul_music     {soul}
0   Rock_music      1   http://dbpedia.org/resource/Rock_music     {rock}
1  Swing_music      1  http://dbpedia.org/resource/Swing_music    {swing}
3        Plena      1        http://dbpedia.org/resource/Plena    {plena}

------------------------------- TIPO: River --------------------------------------

              label  ...    plain_text
1  Des_Moines_River  ...  {Des Moines}
0     Serio_(river)  ...       {serio}
2      Cuando_River  ...      {Cuando}

[3 rows x 4 columns]

------------------------------- TIPO: BodyOfWater --------------------------------------

              label  ...    plain_text
1  Des_Moines_River  ...  {Des Moines}
0     Serio_(river)  ...       {serio}
2      Cuando_River  ...      {Cuando}

[3 rows x 4 columns]

------------------------------- TIPO: Cleric --------------------------------------

                  label  ...  plain_text
0  Aidan_of_Lindisfarne  ...     {Aidan}
1                  Noah  ...      {Noah}

[2 rows x 4 columns]

------------------------------- TIPO: Weapon --------------------------------------

   label  count                                uri plain_text
0  Sabre      4  http://dbpedia.org/resource/Sabre    {saber}

------------------------------- TIPO: Island --------------------------------------

            label  ...        plain_text
1             Hoy  ...             {Hoy}
0          Crimea  ...          {Crimea}
2  Virgin_Islands  ...  {Virgin Islands}

[3 rows x 4 columns]

------------------------------- TIPO: GovernmentAgency --------------------------------------

                            label  ...  plain_text
2    United_States_Postal_Service  ...      {USPS}
0    Cabinet_of_the_United_States  ...   {cabinet}
1  National_Labor_Relations_Board  ...      {NLRB}

[3 rows x 4 columns]

------------------------------- TIPO: Writer --------------------------------------

             label  ...         plain_text
1      Elie_Wiesel  ...      {Elie Wiesel}
0      Mitch_Albom  ...            {Mitch}
2  Langston_Hughes  ...  {Langston Hughes}

[3 rows x 4 columns]

------------------------------- TIPO: Saint --------------------------------------

                  label  ...  plain_text
0  Aidan_of_Lindisfarne  ...     {Aidan}
1                  Noah  ...      {Noah}

[2 rows x 4 columns]

------------------------------- TIPO: Device --------------------------------------

   label  count                                uri plain_text
0  Sabre      4  http://dbpedia.org/resource/Sabre    {saber}

------------------------------- TIPO: RouteOfTransportation --------------------------------------

                                        label  ...  plain_text
0  Foundation_for_Art_and_Creative_Technology  ...      {FACT}

[1 rows x 4 columns]

------------------------------- TIPO: Stream --------------------------------------

              label  ...    plain_text
1  Des_Moines_River  ...  {Des Moines}
0     Serio_(river)  ...       {serio}
2      Cuando_River  ...      {Cuando}

[3 rows x 4 columns]

------------------------------- TIPO: Road --------------------------------------

                                        label  ...  plain_text
0  Foundation_for_Art_and_Creative_Technology  ...      {FACT}

[1 rows x 4 columns]

------------------------------- TIPO: Continent --------------------------------------

             label  ...         plain_text
0      Middle_East  ...      {Middle East}
1  Central_America  ...  {Central America}
2        Caribbean  ...        {Caribbean}

[3 rows x 4 columns]

------------------------------- TIPO: Automobile --------------------------------------

           label  count                                        uri plain_text
0  Renault_Fuego      1  http://dbpedia.org/resource/Renault_Fuego    {fuego}
1       Fiat_Uno      1       http://dbpedia.org/resource/Fiat_Uno      {Uno}
2   Perodua_Alza      1   http://dbpedia.org/resource/Perodua_Alza     {Alza}

------------------------------- TIPO: RadioProgram --------------------------------------

                label  ...      plain_text
0           Fresh_Air  ...     {fresh air}
1        Life_Matters  ...  {life matters}
2  The_Gist_(podcast)  ...      {The gist}

[3 rows x 4 columns]

------------------------------- TIPO: EducationalInstitution --------------------------------------

                                   label  ...             plain_text
0        Little_Rock_Central_High_School  ...  {Central High School}
1                       Reno_High_School  ...                 {Reno}
2  Himachal_Pradesh_Technical_University  ...              {article}

[3 rows x 4 columns]

------------------------------- TIPO: BeautyQueen --------------------------------------

            label  ...        plain_text
0  Alicia_Machado  ...  {Alicia Machado}

[1 rows x 4 columns]

------------------------------- TIPO: Olympics --------------------------------------

                  label  ...            plain_text
0  1988_Summer_Olympics  ...  {1988 Olympic games}
1  1900_Summer_Olympics  ...          {Paris 1900}

[2 rows x 4 columns]

------------------------------- TIPO: MedicalSpecialty --------------------------------------

       label  count                                    uri      plain_text
0   Medicine      1   http://dbpedia.org/resource/Medicine      {medicine}
1  Pathology      1  http://dbpedia.org/resource/Pathology  {pathological}

------------------------------- TIPO: WrestlingEvent --------------------------------------

          label  count                                       uri plain_text
0  IWRG_La_Isla      2  http://dbpedia.org/resource/IWRG_La_Isla  {la Isla}

------------------------------- TIPO: Castle --------------------------------------

             label  ...  plain_text
0  Castle_of_Salir  ...     {salir}

[1 rows x 4 columns]

------------------------------- TIPO: Play --------------------------------------

        label  count                                     uri    plain_text
0  The_Lesson      2  http://dbpedia.org/resource/The_Lesson  {The lesson}

------------------------------- TIPO: School --------------------------------------

                             label  ...             plain_text
0  Little_Rock_Central_High_School  ...  {Central High School}
1                 Reno_High_School  ...                 {Reno}

[2 rows x 4 columns]

------------------------------- TIPO: Actor --------------------------------------

            label  count                                         uri plain_text
0  Shah_Rukh_Khan      2  http://dbpedia.org/resource/Shah_Rukh_Khan     {Khan}

------------------------------- TIPO: MilitaryPerson --------------------------------------

                  label  ...        plain_text
0       Edward_Braddock  ...        {Braddock}
1  Kristen_Marie_Griest  ...  {Kristen Griest}

[2 rows x 4 columns]

------------------------------- TIPO: Village --------------------------------------

                      label  ...  plain_text
0  Falta,_South_24_Parganas  ...     {falta}
1               Sad-e_Vaqas  ...    {salgas}

[2 rows x 4 columns]

------------------------------- TIPO: Hotel --------------------------------------

           label  ...       plain_text
0  Hotel_Roanoke  ...  {Hotel Roanoke}

[1 rows x 4 columns]

------------------------------- TIPO: SupremeCourtOfTheUnitedStatesCase --------------------------------------

                       label  ...         plain_text
0     Citizens_United_v._FEC  ...  {Citizens United}
1  Olmstead_v._United_States  ...         {Olmstead}

[2 rows x 4 columns]

------------------------------- TIPO: Train --------------------------------------

                    label  ...  plain_text
0  British_Rail_Class_180  ...  {adelante}

[1 rows x 4 columns]

------------------------------- TIPO: Mountain --------------------------------------

                      label  ...        plain_text
0  San_Bernardino_Mountains  ...  {San Bernardino}

[1 rows x 4 columns]

------------------------------- TIPO: ProtectedArea --------------------------------------

                          label  ...  plain_text
0  Apoyo_Lagoon_Natural_Reserve  ...     {apoyo}

[1 rows x 4 columns]

------------------------------- TIPO: Gymnast --------------------------------------

              label  ...          plain_text
0      Simone_Biles  ...      {Simone Biles}
1  Laurie_Hernandez  ...  {Laurie Hernandez}

[2 rows x 4 columns]

------------------------------- TIPO: Convention --------------------------------------

             label  ...             plain_text
0  NYC_Pride_March  ...  {New York City Pride}
1     Pride_parade  ...         {pride parade}

[2 rows x 4 columns]

------------------------------- TIPO: BasketballPlayer --------------------------------------

             label  ...       plain_text
0      Dwyane_Wade  ...           {Wade}
1  Ramon_Fernandez  ...  {El presidente}

[2 rows x 4 columns]

------------------------------- TIPO: CelestialBody --------------------------------------

   label  count                                uri plain_text
0  Earth      1  http://dbpedia.org/resource/Earth    {Earth}
1   Mira      1   http://dbpedia.org/resource/Mira     {Mira}

------------------------------- TIPO: Case --------------------------------------

                       label  ...         plain_text
0     Citizens_United_v._FEC  ...  {Citizens United}
1  Olmstead_v._United_States  ...         {Olmstead}

[2 rows x 4 columns]

------------------------------- TIPO: Coach --------------------------------------

           label  ...     plain_text
0  Geno_Auriemma  ...     {Auriemma}
1    Pat_Summitt  ...  {Pat Summitt}

[2 rows x 4 columns]

------------------------------- TIPO: LegalCase --------------------------------------

                       label  ...         plain_text
0     Citizens_United_v._FEC  ...  {Citizens United}
1  Olmstead_v._United_States  ...         {Olmstead}

[2 rows x 4 columns]

------------------------------- TIPO: UnitOfWork --------------------------------------

                       label  ...         plain_text
0     Citizens_United_v._FEC  ...  {Citizens United}
1  Olmstead_v._United_States  ...         {Olmstead}

[2 rows x 4 columns]

------------------------------- TIPO: RugbyPlayer --------------------------------------

       label  count                                    uri plain_text
0  Mark_Ella      2  http://dbpedia.org/resource/Mark_Ella     {ella}

------------------------------- TIPO: CollegeCoach --------------------------------------

           label  ...     plain_text
0  Geno_Auriemma  ...     {Auriemma}
1    Pat_Summitt  ...  {Pat Summitt}

[2 rows x 4 columns]

------------------------------- TIPO: TelevisionEpisode --------------------------------------

                          label  ...      plain_text
0  Helping_Hand_(Body_of_Proof)  ...  {helping hand}
1                      Unending  ...      {unending}

[2 rows x 4 columns]

------------------------------- TIPO: Swimmer --------------------------------------

            label  ...        plain_text
0  Michael_Phelps  ...  {Michael Phelps}

[1 rows x 4 columns]

------------------------------- TIPO: CyclingRace --------------------------------------

             label  ...  plain_text
0  Vuelta_a_España  ...    {vuelta}

[1 rows x 4 columns]

------------------------------- TIPO: Airline --------------------------------------

                  label  ...  plain_text
0  Mexicana_de_Aviación  ...  {mexicana}

[1 rows x 4 columns]

------------------------------- TIPO: BroadcastNetwork --------------------------------------

                          label  ...  plain_text
0  Nederlandse_Omroep_Stichting  ...       {Nos}

[1 rows x 4 columns]

------------------------------- TIPO: Ship --------------------------------------

                label  ...         plain_text
0  MS_American_Leader  ...  {American leader}

[1 rows x 4 columns]

------------------------------- TIPO: TennisPlayer --------------------------------------

         label  count                                      uri     plain_text
0  Bobby_Riggs      1  http://dbpedia.org/resource/Bobby_Riggs  {Bobby Riggs}

------------------------------- TIPO: Eukaryote --------------------------------------

         label  count                                      uri     plain_text
0  First_Trump      1  http://dbpedia.org/resource/First_Trump  {First Trump}

------------------------------- TIPO: Wrestler --------------------------------------

       label  count                                    uri   plain_text
0  Violencia      1  http://dbpedia.org/resource/Violencia  {violencia}

------------------------------- TIPO: Astronaut --------------------------------------

             label  ...  plain_text
0  Joseph_M._Acaba  ...     {acaba}

[1 rows x 4 columns]

------------------------------- TIPO: RugbyClub --------------------------------------

           label  count                                        uri plain_text
0  RK_Nada_Split      1  http://dbpedia.org/resource/RK_Nada_Split     {Nada}

------------------------------- TIPO: Locomotive --------------------------------------

       label  count                                    uri plain_text
0  NSB_El_18      1  http://dbpedia.org/resource/NSB_El_18    {el 18}

------------------------------- TIPO: BasketballLeague --------------------------------------

                             label  ...  plain_text
0  National_Basketball_Association  ...       {NBA}

[1 rows x 4 columns]

------------------------------- TIPO: Award --------------------------------------

        label  count                                     uri plain_text
0  Emmy_Award      1  http://dbpedia.org/resource/Emmy_Award     {Emmy}

------------------------------- TIPO: Drug --------------------------------------

    label  count                                 uri plain_text
0  Heroin      1  http://dbpedia.org/resource/Heroin   {heroin}

------------------------------- TIPO: AmericanFootballTeam --------------------------------------

                            label  ...  plain_text
0  History_of_the_Oakland_Raiders  ...   {Oakland}

[1 rows x 4 columns]

------------------------------- TIPO: Publisher --------------------------------------

       label  count                                    uri plain_text
0  DC_Comics      1  http://dbpedia.org/resource/DC_Comics       {DC}

------------------------------- TIPO: Aircraft --------------------------------------

        label  count                                     uri  plain_text
0  Grob_G_109      1  http://dbpedia.org/resource/Grob_G_109  {vigilant}

------------------------------- TIPO: Comic --------------------------------------

             label  ...      plain_text
0  Just_Imagine...  ...  {Just imagine}

[1 rows x 4 columns]

------------------------------- TIPO: Criminal --------------------------------------

           label  count                                        uri  plain_text
0  Paul_Manafort      1  http://dbpedia.org/resource/Paul_Manafort  {Manafort}

------------------------------- TIPO: Planet --------------------------------------

   label  count                                uri plain_text
0  Earth      1  http://dbpedia.org/resource/Earth    {Earth}

------------------------------- TIPO: SportsManager --------------------------------------

         label  count                                      uri plain_text
0  Brian_Flynn      1  http://dbpedia.org/resource/Brian_Flynn    {Flynn}

------------------------------- TIPO: VideoGame --------------------------------------

                        label  ...    plain_text
0  GuitarFreaks_and_DrumMania  ...  {inside-out}

[1 rows x 4 columns]

------------------------------- TIPO: University --------------------------------------

                                   label  ...  plain_text
0  Himachal_Pradesh_Technical_University  ...   {article}

[1 rows x 4 columns]

------------------------------- TIPO: EurovisionSongContestEntry --------------------------------------

     label  count                                  uri plain_text
0  Sameach      1  http://dbpedia.org/resource/Sameach  {sameach}

------------------------------- TIPO: HistoricPlace --------------------------------------

            label  count                                         uri plain_text
0  Moscow_Kremlin      1  http://dbpedia.org/resource/Moscow_Kremlin  {Kremlin}

------------------------------- TIPO: Animal --------------------------------------

         label  count                                      uri     plain_text
0  First_Trump      1  http://dbpedia.org/resource/First_Trump  {First Trump}

------------------------------- TIPO: Scientist --------------------------------------

          label  ...      plain_text
0  Sylvia_Earle  ...  {Sylvia Earle}

[1 rows x 4 columns]

------------------------------- TIPO: Museum --------------------------------------

                                               label  ...  plain_text
0  National_Museum_of_African_American_History_an...  ...    {NMAAHC}

[1 rows x 4 columns]

------------------------------- TIPO: Bank --------------------------------------

         label  count                                      uri     plain_text
0  Wells_Fargo      1  http://dbpedia.org/resource/Wells_Fargo  {Wells Fargo}

------------------------------- TIPO: Species --------------------------------------

         label  count                                      uri     plain_text
0  First_Trump      1  http://dbpedia.org/resource/First_Trump  {First Trump}

------------------------------- TIPO: Jockey --------------------------------------

         label  count                                      uri     plain_text
0  Diane_Crump      1  http://dbpedia.org/resource/Diane_Crump  {Diane Crump}

------------------------------- TIPO: ReligiousBuilding --------------------------------------

    label  count                                 uri plain_text
0  Mosque      1  http://dbpedia.org/resource/Mosque   {mosque}

------------------------------- TIPO: Hospital --------------------------------------

            label  ...        plain_text
0  Orlando_Health  ...  {Orlando Health}

[1 rows x 4 columns]

------------------------------- TIPO: SportsLeague --------------------------------------

                             label  ...  plain_text
0  National_Basketball_Association  ...       {NBA}

[1 rows x 4 columns]

------------------------------- TIPO: HorseTrainer --------------------------------------

           label  count                                        uri plain_text
0  Aidan_O'Brien      1  http://dbpedia.org/resource/Aidan_O'Brien    {Aidan}

------------------------------- TIPO: Comedian --------------------------------------

               label  ...           plain_text
0  Zach_Galifianakis  ...  {Zach Galifianakis}

[1 rows x 4 columns]

------------------------------- TIPO: Star --------------------------------------

  label  count                               uri plain_text
0  Mira      1  http://dbpedia.org/resource/Mira     {Mira}

------------------------------- TIPO: Horse --------------------------------------

         label  count                                      uri     plain_text
0  First_Trump      1  http://dbpedia.org/resource/First_Trump  {First Trump}

------------------------------- TIPO: Philosopher --------------------------------------

        label  count                                     uri plain_text
0  A._J._Ayer      1  http://dbpedia.org/resource/A._J._Ayer     {ayer}

------------------------------- TIPO: Race --------------------------------------

             label  ...  plain_text
0  Vuelta_a_España  ...    {vuelta}

[1 rows x 4 columns]

------------------------------- TIPO: Motorcycle --------------------------------------

           label  count                                        uri   plain_text
0  BSA_Gold_Star      1  http://dbpedia.org/resource/BSA_Gold_Star  {Gold Star}

------------------------------- TIPO: Mammal --------------------------------------

         label  count                                      uri     plain_text
0  First_Trump      1  http://dbpedia.org/resource/First_Trump  {First Trump}

------------------------------- TIPO: PublicTransitSystem --------------------------------------

                  label  ...  plain_text
0  Mexicana_de_Aviación  ...  {mexicana}

[1 rows x 4 columns]

------------------------------- TIPO: SoccerManager --------------------------------------

         label  count                                      uri plain_text
0  Brian_Flynn      1  http://dbpedia.org/resource/Brian_Flynn    {Flynn}

------------------------------- TIPO: Musical --------------------------------------

     label  count                                  uri plain_text
0  Roberta      1  http://dbpedia.org/resource/Roberta  {Roberta}

------------------------------- TIPO: ComicsCharacter --------------------------------------

          label  count                                       uri plain_text
0  Kaine_Parker      1  http://dbpedia.org/resource/Kaine_Parker    {Kaine}

### Sentiment

In [25]:
sentiments = clinton['text'].apply(TextBlob)

In [26]:
polarities = [x.sentiment.polarity for x in sentiments]
subjectivities = [x.sentiment.subjectivity for x in sentiments]

In [27]:
clinton['sentiment'] = polarities
clinton['subjectivity'] = subjectivities
clinton

              handle  ... subjectivity
0     HillaryClinton  ...     0.300000
1     HillaryClinton  ...     0.354762
2     HillaryClinton  ...     0.413333
3     HillaryClinton  ...     0.694444
4     HillaryClinton  ...     0.650000
...              ...  ...          ...
3221  HillaryClinton  ...     0.750000
3222  HillaryClinton  ...     0.000000
3223  HillaryClinton  ...     0.000000
3224  HillaryClinton  ...     0.000000
3225  HillaryClinton  ...     0.527273

[3226 rows x 11 columns]

In [28]:
polarity_mean = []
polarity_median = []
for index, el in entities_frame.iterrows():
  partial = list()
  for i in el['occurrences']:
    partial.append(clinton.iloc[i]['sentiment'])
  polarity_mean.append(statistics.mean(partial))
  polarity_median.append(statistics.median(partial))

In [29]:
entities_frame['sentiment_mean'] = polarity_mean
entities_frame['sentiment_median'] = polarity_median

In [30]:
entities_frame.sort_values('count', ascending=False)

                                          entita  ... sentiment_median
1     <__main__.Entity object at 0x7f0b88df6da0>  ...         0.000000
2     <__main__.Entity object at 0x7f0b88e07f60>  ...         0.000000
8     <__main__.Entity object at 0x7f0b88e0e710>  ...         0.068182
52    <__main__.Entity object at 0x7f0b88e34048>  ...         0.000000
44    <__main__.Entity object at 0x7f0b88d9b908>  ...         0.007407
...                                          ...  ...              ...
906   <__main__.Entity object at 0x7f0b891a5550>  ...         0.000000
269   <__main__.Entity object at 0x7f0b893eb6a0>  ...        -0.015152
270   <__main__.Entity object at 0x7f0b893eb978>  ...        -0.200000
903   <__main__.Entity object at 0x7f0b891aabe0>  ...        -0.187500
1717  <__main__.Entity object at 0x7f0b88d982e8>  ...         0.800000

[1718 rows x 8 columns]

In [33]:
entities_frame[entities_frame['label']=='Russia']

                                        entita  ... sentiment_median
60  <__main__.Entity object at 0x7f0b890ded68>  ...             -0.1

[1 rows x 8 columns]

In [ ]:
# entities_frame.to_csv('entities_clinton.csv')

# Tabella entità usate in comune

In [ ]:
# partial_matrix = np.zeros([len(entities_frame), len(entities_frame)], dtype=int)
# for i in range(0,len(entities_frame)):
  # print(i, end= ' ')
  # for j in range(i+1,len(entities_frame)):
    # partial_matrix[i,j] = len(entities_frame.iloc[i]['occurrences'].intersection(entities_frame.iloc[j]['occurrences']))

In [ ]:
# np.savetxt("clinton_entities_matrix.csv", partial_matrix, delimiter=",")

In [36]:
clinton_entities_matrix = np.genfromtxt('/content/drive/MyDrive/ProgettoAI/dataset/clinton_entities_matrix.csv', delimiter=',')

#Codice specifico

In [ ]:
# per utilizzarla inserire all'interno della query il token "TEXT_HERE" dove si vuole inserire l'uri dell'entità
def party_from_uri(uri_list, query, variable):
  tot = []
  for uri in uri_list:
    # print(uri)
    sparql = SPARQLWrapper("http://dbpedia.org/sparql")
    sparql.setQuery(query.replace('TEXT_HERE', uri))   
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    # tot.append(results["results"]["bindings"])
    if len(results["results"]["bindings"]) != 0:
      party = results["results"]["bindings"][0][variable]
      res_entity = {
              "res" :uri,
              variable: party["value"],
          }
    else:
      res_entity = {
              "res" :uri,
              variable: None,
          }
    tot.append(res_entity)
  return tot

#politici piu nominati

In [ ]:
politici = entita_filter_by_type('Politician', entities_frame)
query ="""
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
              SELECT ?party_name
              WHERE {  
                 <TEXT_HERE>   dbp:party ?party_uri.
                 ?party_uri dbp:name ?party_name              
               }
          """
partiti = party_from_uri(entita_filter_by_type('Politician',entities_frame)['uri'], query, 'party_name')

In [ ]:
politici['party'] = [x['party_name'] for x in partiti]
print('Republican Party')
display(politici[politici['party']=='Republican Party'].iloc[0:6])
print('--------------------------------------------------------------')
print('Democratic Party')
display(politici[politici['party']=='Democratic Party'].iloc[0:6])

Republican Party

              label  ...             party
0      Donald_Trump  ...  Republican Party
16       Mike_Pence  ...  Republican Party
20         Ted_Cruz  ...  Republican Party
24  Abraham_Lincoln  ...  Republican Party
21       David_Duke  ...  Republican Party
17      John_McCain  ...  Republican Party

[6 rows x 5 columns]

--------------------------------------------------------------
Democratic Party

                    label  ...             party
1         Hillary_Clinton  ...  Democratic Party
2            Barack_Obama  ...  Democratic Party
4            Bill_Clinton  ...  Democratic Party
29         Bernie_Sanders  ...  Democratic Party
5               Tim_Kaine  ...  Democratic Party
9   Franklin_D._Roosevelt  ...  Democratic Party

[6 rows x 5 columns]

#stati americani + citati

In [ ]:
entita_filter_by_type('Location', entities_frame)

query ="""
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
              SELECT ?name
              WHERE {  
                 <TEXT_HERE>   dbo:country ?country.
                 ?country dbp:conventionalLongName ?name.
               }
          """
countries = party_from_uri(entita_filter_by_type('Location',entities_frame)['uri'], query, 'name')

In [ ]:
luoghi_usa = entita_filter_by_type('Location',entities_frame)
luoghi_usa['country']= [x['name'] for x in countries]
luoghi_usa[luoghi_usa['country'] == 'United States of America']

                             label  ...                   country
8                    New_York_City  ...  United States of America
9                         Virginia  ...  United States of America
15                         Indiana  ...  United States of America
56                    Pennsylvania  ...  United States of America
18                            Ohio  ...  United States of America
1                   North_Carolina  ...  United States of America
26                      California  ...  United States of America
35                           Texas  ...  United States of America
47                     Connecticut  ...  United States of America
28                    Philadelphia  ...  United States of America
128                       Kentucky  ...  United States of America
135                       Maryland  ...  United States of America
13                      New_Jersey  ...  United States of America
136                   Rhode_Island  ...  United States of America
25                         Florida  ...  United States of America
48                        Michigan  ...  United States of America
30                   New_Hampshire  ...  United States of America
134                       Delaware  ...  United States of America
58                        Arkansas  ...  United States of America
49                           Miami  ...  United States of America
46                       Louisiana  ...  United States of America
107                       Brooklyn  ...  United States of America
118                       Oklahoma  ...  United States of America
63                   Hotel_Roanoke  ...  United States of America
122                   South_Dakota  ...  United States of America
121                   North_Dakota  ...  United States of America
120                     New_Mexico  ...  United States of America
108     Charleston,_South_Carolina  ...  United States of America
32              Washington_(state)  ...  United States of America
77                  Tampa,_Florida  ...  United States of America
111                         Queens  ...  United States of America
102                           Iowa  ...  United States of America
103                    Los_Angeles  ...  United States of America
132                      Tennessee  ...  United States of America
140  Washington_Heights,_Manhattan  ...  United States of America
139                        Houston  ...  United States of America
129                         Oregon  ...  United States of America
126                      Las_Vegas  ...  United States of America
117                      Wisconsin  ...  United States of America
64                        Colorado  ...  United States of America
62                   Massachusetts  ...  United States of America
61                          Nevada  ...  United States of America
12                       Minnesota  ...  United States of America
54                     Mississippi  ...  United States of America
66                          Boston  ...  United States of America
70          Fulton_County,_Georgia  ...  United States of America
94                          Hawaii  ...  United States of America
90                        Illinois  ...  United States of America
84                      Cincinnati  ...  United States of America
80                           Idaho  ...  United States of America
143                    East_Harlem  ...  United States of America

[51 rows x 5 columns]

# persone non politiche citate

In [ ]:
pd.concat([entita_filter_by_type('Person', entities_frame), politici]).drop_duplicates(subset=['label'], keep = False).iloc[0:10]

                    label  count  ...        plain_text party
1           Gabby_Barrett      4  ...          {I hope}   NaN
99   Aidan_of_Lindisfarne      3  ...           {Aidan}   NaN
2          Alicia_Machado      3  ...  {Alicia Machado}   NaN
89            Elie_Wiesel      2  ...     {Elie Wiesel}   NaN
86              Mark_Ella      2  ...            {ella}   NaN
101            Sally_Ride      2  ...      {Sally Ride}   NaN
67    Madeleine_of_Valois      2  ...       {Madeleine}   NaN
21              Ella_Chen      2  ...      {ella, Ella}   NaN
15             Rosa_Parks      2  ...      {Rosa Parks}   NaN
27          Sido_(rapper)      2  ...            {sido}   NaN

[10 rows x 5 columns]

#schieramento sugli stati (ecluso USA)

In [ ]:
luoghi = entita_filter_by_type('Country', entities_frame)
luoghi.iloc[0:7]

            label  ...                                         plain_text
0   United_States  ...  {United States, americanos, U.S., American, US...
5          Mexico  ...                        {Mexico, Mexicans, Mexican}
3          Russia  ...                                           {Russia}
2            Iraq  ...                                             {Iraq}
12     Bangladesh  ...                                       {Bangladesh}
9            Iran  ...                                    {Iranian, Iran}
13          China  ...                                            {China}

[7 rows x 4 columns]

In [46]:
print(clinton_entities_matrix[271,:].argmax())
print(clinton_entities_matrix[:,271].argmax())
# entities_frame.iloc[535]

478
1

In [49]:
clinton_entities_matrix[271,478]

7.0

In [50]:
entities_frame.iloc[478]

entita                     <__main__.Entity object at 0x7f0b88e07358>
label                                                     Deportation
count                                                              14
types                                                              []
occurrences         {2944, 678, 647, 712, 3208, 3211, 2957, 785, 6...
plain_text                    {deport, deportation, mass deportation}
sentiment_mean                                              0.0204296
sentiment_median                                                    0
Name: 478, dtype: object

In [ ]:
clinton.iloc[2060]['text']

'Praying for a safe Eid Al-Fitr. My heart breaks for families struck by terror in Turkey, Iraq, Saudi Arabia, and Bangladesh this Ramadan. -H'

In [44]:
entities_frame[entities_frame['label']=='Immigration']

                                         entita  ... sentiment_median
271  <__main__.Entity object at 0x7f0b88e07b00>  ...              0.0

[1 rows x 8 columns]

In [ ]:
clinton.iloc[419]['text']

'5. How can you be tough on Iran, given your business partnership with someone connected to Iranian money laundering? https://t.co/1AdDm2kfvy'

# Organizzazioni

In [ ]:
# Organisation 
# PoliticalParty 
# Company 
# Legislature
# Broadcaster
# PeriodicalLiterature

In [ ]:
pd.concat([entita_filter_by_type('Organisation', entities_frame), entita_filter_by_type('PoliticalParty', entities_frame)]).drop_duplicates(subset=['label'], keep = False).iloc[0:10]
# tutti le Organizzazioni che non siano un partito politico

                                     label  ...                                        plain_text
17                    United_States_Senate  ...  {Senator, United States Senate, senator, Senate}
2                          RT_(TV_network)  ...                                              {RT}
9                            Orlando_Magic  ...                                         {Orlando}
26                   Portland_Timbers_U23s  ...                                             {por}
21                        Trump_University  ...                                {Trump University}
3                         Imagine_Software  ...                                         {Imagine}
45                  United_States_Congress  ...                                        {Congress}
18  United_States_House_of_Representatives  ...                                     {House, H.R.}
80                      Planned_Parenthood  ...                              {Planned Parenthood}
51                                IF_Ready  ...                                           {Ready}

[10 rows x 4 columns]

In [ ]:
entita_filter_by_type('Legislature', entities_frame)

                                    label  ...                                        plain_text
0                    United_States_Senate  ...  {Senator, United States Senate, senator, Senate}
2                  United_States_Congress  ...                                        {Congress}
1  United_States_House_of_Representatives  ...                                     {House, H.R.}
3                         Senate_of_Spain  ...                                          {Senado}

[4 rows x 4 columns]

In [ ]:
entita_filter_by_type('Broadcaster', entities_frame).iloc[0:5]

              label  ...    plain_text
0   RT_(TV_network)  ...          {RT}
2              KTSU  ...  {The choice}
9               CNN  ...         {CNN}
3             MSNBC  ...       {MSNBC}
1  NEW_(TV_station)  ...         {NEW}

[5 rows x 4 columns]

In [ ]:
entita_filter_by_type('PeriodicalLiterature', entities_frame).iloc[0:5]

                      label  ...               plain_text
0        The_New_York_Times  ...  {NYTimes, NYT, nytimes}
2        Respect_(magazine)  ...               {respect.}
4                  Newsweek  ...               {Newsweek}
7  Look_(American_magazine)  ...                   {Look}
8        Fact_(UK_magazine)  ...                   {FACT}

[5 rows x 4 columns]

#Sotituzione entità nel testo

In [ ]:
final_text = []
for index, row in clinton.iterrows():
  partial = row['text']
  for ent in row['dbpedia_object'].entities:
    partial=partial.replace(ent.original_text, re.sub('[^A-Za-z0-9]+', '', ent.label))
  final_text.append(partial)

In [ ]:
pd.DataFrame(final_text, columns=['tweet']).to_csv('tweet_with_entities_clinton.csv')