In [ ]:
!pip install SPARQLWrapper

Collecting SPARQLWrapper
  Downloading https://files.pythonhosted.org/packages/00/9b/443fbe06996c080ee9c1f01b04e2f683b2b07e149905f33a2397ee3b80a2/SPARQLWrapper-1.8.5-py3-none-any.whl
Collecting rdflib>=4.0
  Downloading https://files.pythonhosted.org/packages/d0/6b/6454aa1db753c0f8bc265a5bd5c10b5721a4bb24160fb4faf758cf6be8a1/rdflib-5.0.0-py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 9.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (1.15.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib>=4.0->SPARQLWrapper) (2.4.7)
Collecting isodate
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 4.6MB/s
Installing collected packages: isodate, rdflib, SPARQLWrapper
Successfully installed SPARQLWrapper-1.8.5 isodate-0.6.0 rdflib-5.0.0

In [ ]:
import pandas as pd
import ast
import math
from textblob import TextBlob
import re
import numpy as np
import csv
# import seaborn
import statistics
from SPARQLWrapper import SPARQLWrapper, JSON
import json
import re

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
root_dir = '/content/drive/MyDrive/ProgettoAI/dataset/'
trump = pd.read_csv(root_dir+'trump_corrected.csv')

In [ ]:
class DbpediaObject:

  def __init__(self, string):
    json_parsed = ast.literal_eval(string)
    self.confidence = float(json_parsed['@confidence'])
    self.text = json_parsed['@text']
    self.entities = []
    try:
      self._set_entities(json_parsed['Resources'])
    except:
      None



  def _set_entities(self, lista):
    for el in lista:
      if(el['@surfaceForm'] != 't.co'):
        self.entities.append(Entity(el))

In [ ]:
class Entity:
  def __init__(self, json_parsed):
    self.original_text = json_parsed['@surfaceForm']
    self.label = json_parsed['@URI'].split('/')[-1]
    self.uri = json_parsed['@URI']
    self.similarity = json_parsed['@similarityScore']
    self.types = []
    self.schema = []
    self._set_types(json_parsed['@types'])

  def _set_types(self, raw_list):
      raw_split = raw_list.split(',')
      for el in raw_split:
        x = el.split(':')
        if x[0] == 'DBpedia':
          self.types.append(x[1])
        if x[0] == 'Wikidata':
          self.wikidata = x[1]
        if x[0] == 'Schema':
          self.schema.append(x[1])

In [ ]:
def count_empty_list(lista):
  count = 0
  for el in lista:
    if len(el) == 0:
      count = count +1
  return count

In [ ]:
def entita_filter_by_type(tipo, df_entita):
  cit = list()
  count_cit = list()
  entities_cit = list()
  plain_text = list()

  for index, row in df_entita.iterrows():
    if tipo in row['entita'].types:
      cit.append(row['entita'].label)
      count_cit.append(row['count'])
      entities_cit.append(row['entita'].uri)
      plain_text.append(row['plain_text'])
  return pd.DataFrame(list(zip(cit,count_cit,entities_cit,plain_text)), columns=['label', 'count', 'uri','plain_text']).sort_values('count', ascending=False)

#TRUMP

In [ ]:
lista = []
for el in trump['dbpedia']:
  try:
    lista.append(DbpediaObject(el))
  except:
    print(el)
trump['dbpedia_object'] = lista

In [ ]:
trump=trump.drop('Unnamed: 0', axis=1)
trump=trump.drop('Unnamed: 0.1', axis=1)
trump

               handle  ...                                     dbpedia_object
0     realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38af2e7ac8>
1     realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38af308048>
2     realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38af2e7c88>
3     realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38af2e7c18>
4     realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38af2e7e80>
...               ...  ...                                                ...
3213  realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38aead7a20>
3214  realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38aeae3208>
3215  realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38aead7908>
3216  realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38aead7cf8>
3217  realDonaldTrump  ...  <__main__.DbpediaObject object at 0x7f38aeae3630>

[3218 rows x 9 columns]

In [ ]:
trump_list_entities = list(x.entities for x in trump['dbpedia_object'])

In [ ]:
x = round(count_empty_list(trump_list_entities)/len(trump_list_entities)*100,2)
print("% of tweet without entities: ", x)

% of tweet without entities:  9.88

In [ ]:
num_entities = [i.label for x in trump_list_entities for i in x]
print("Different entities found", len(set(num_entities)))

Different entities found 1856

In [ ]:
num_entities = [i.original_text for x in trump_list_entities for i in x]
print("Different labels found", len(set(num_entities)))

Different labels found 2094

In [ ]:
num_entities = [i for x in trump_list_entities for i in x]
print("Entities found", len(num_entities))

Entities found 7470

In [ ]:
entities_count_trump = dict((el.label,el) for el in [i for x in trump_list_entities for i in x])
entita_trump = list(entities_count_trump.values())
entities_count_trump = list(np.zeros(len(entita_trump), dtype=int))
trump_labels = [x.label for x in entita_trump]
trump_types =  [x.types for x in entita_trump]
# trump_schema =  [x.schema for x in entita_trump]

for el in trump['dbpedia_object']:
  for entity in el.entities:
    index = trump_labels.index(entity.label)
    entities_count_trump[index] = entities_count_trump[index] + 1

entities_frame = pd.DataFrame(list(zip(entita_trump, trump_labels,entities_count_trump,trump_types)), columns=['entita', 'label', 'count','types'])
# entities_frame.sort_values('count', ascending=False)

In [ ]:
trump_types = list(set(tipo for el in entities_frame['types'] for tipo in el))
trump_types.append('Without_type')
trump_types_count = list(np.zeros(len(trump_types),dtype=int))

for ent_list in trump_list_entities:
  for ent in ent_list:
    if not ent.types:
      trump_types_count[len(trump_types_count)-1] = trump_types_count[len(trump_types_count)-1] + 1
    for tipo in ent.types:
      index = trump_types.index(tipo)
      trump_types_count[index] = trump_types_count[index] + 1
tipi_trump_frame = pd.DataFrame(list(zip(trump_types, trump_types_count)), columns = ['tipo', 'count'])
tipi_trump_frame.sort_values('count', ascending=False).iloc[0:20]

                     tipo  count
174          Without_type   2817
46                  Agent   2241
13                  Place   1389
109              Location   1389
100                Person   1353
6          PopulatedPlace   1353
52             Politician   1009
59           Organisation    846
48                   Work    831
121  AdministrativeRegion    721
137                Region    721
76                Country    344
37            Broadcaster    307
47            MusicalWork    298
93             Settlement    269
20      TelevisionStation    243
152                  City    224
165           WrittenWork    222
125        TelevisionShow    213
133  PeriodicalLiterature    192

In [ ]:
# total = []
# for en in entities_frame['entita']:
  # partial = []
  # for i in range(0,len(trump)):
    # if en.label in [x.label for x in trump.iloc[i]['dbpedia_object'].entities]:
      # partial.append(i)
  # total.append(partial)

In [ ]:
# with open("trump_entities_occurrence.csv", "w", newline="") as f:
    # writer = csv.writer(f)
    # writer.writerows(total)

In [ ]:
total = []
with open('/content/drive/MyDrive/ProgettoAI/dataset/trump_entities_occurrence.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    for row in spamreader:
      total.append({int(x) for x in row})

In [ ]:
entities_frame['occurrences'] = total

In [ ]:
plain_text = []
for index, el in entities_frame.iterrows():
  partial = set()
  for i in el['occurrences']:
    for entity in trump.iloc[i]['dbpedia_object'].entities:
      if entity.label == el['label']:
        partial.add(entity.original_text)
  plain_text.append(partial)

In [ ]:
entities_frame['plain_text'] = plain_text
entities_frame.sort_values('count', ascending=False)

                                          entita  ...                                         plain_text
40    <__main__.Entity object at 0x7f38aeaed860>  ...  {@RealDonaldTrump, @realDonaldTrump, @realdona...
9     <__main__.Entity object at 0x7f38aeaed240>  ...  {DONALD TRUMP, Donald J Trump, Trump, Donald T...
15    <__main__.Entity object at 0x7f38aead5dd8>  ...  {United States, Union, American, USA, America,...
4     <__main__.Entity object at 0x7f38aeb2e320>  ...   {HILLARY CLINTON, Clinton, Hillary Clinton, HRC}
11    <__main__.Entity object at 0x7f38aeaedac8>  ...  {MAGA, MAKE AMERICA GREAT AGAIN, Make America ...
...                                          ...  ...                                                ...
869   <__main__.Entity object at 0x7f38af010748>  ...                                     {South Dakota}
865   <__main__.Entity object at 0x7f38af028860>  ...                                         {Highness}
864   <__main__.Entity object at 0x7f38af028630>  ...                                             {Gone}
863   <__main__.Entity object at 0x7f38af0102b0>  ...                                            {bigot}
1855  <__main__.Entity object at 0x7f38aeaed828>  ...                                     {big business}

[1856 rows x 6 columns]

In [ ]:
for i in tipi_trump_frame.sort_values('count', ascending=False).iloc[1:]['tipo']:
  print('-------------------------------','TIPO:',i,'--------------------------------------')
  display(entita_filter_by_type(i,entities_frame).iloc[:20])

------------------------------- TIPO: Agent --------------------------------------

                                label  ...                                         plain_text
2                        Donald_Trump  ...  {Donald Trump, President Trump, DONALD TRUMP, ...
0                     Hillary_Clinton  ...   {Hillary Clinton, Clinton, HRC, HILLARY CLINTON}
230                        Jervy_Cruz  ...                                       {Cruz, CRUZ}
4                                 CNN  ...                                         {CNN, cnn}
31                           Fox_News  ...  {foxnews, Fox News, Fox News Channel, FoxNews,...
6                       Enjoy_Records  ...                    {enjoy!, ENJOY!, Enjoy, Enjoy!}
119                          Ted_Cruz  ...                               {TED CRUZ, Ted Cruz}
11                       Barack_Obama  ...  {Barrack Obama, Obama, President Obama, debating}
215                       Marco_Rubio  ...                        {RUBIO, Marco Rubio, Rubio}
42   Republican_Party_(United_States)  ...  {SR, Republican party, Republicans, Republican...
9                United_States_Senate  ...   {US Senator, senator, Senator, Senate, Senators}
22                     Bernie_Sanders  ...          {Bernie sanders, Sanders, Bernie Sanders}
44                        Mitt_Romney  ...                              {Mitt Romney, Romney}
16                       Bill_Clinton  ...                   {Clinton, CLINTON, Bill Clinton}
122                  Elizabeth_Warren  ...       {Senator Elizabeth Warren, Elizabeth Warren}
225                          Jeb_Bush  ...                              {Jeb, Jeb Bush, Jeb!}
158          Fox_Broadcasting_Company  ...                            {FOX, Fox, Fox Network}
35                            People!  ...                                          {people!}
138                             Goofy  ...                                            {Goofy}
86                     Greta_Thunberg  ...                                     {greta, Greta}

[20 rows x 4 columns]

------------------------------- TIPO: Location --------------------------------------

             label  ...                                         plain_text
2    United_States  ...  {USA, U.S., U.S.A., US, United States, America...
40            Iowa  ...                                         {IA, Iowa}
12            Ohio  ...                                       {Ohio, OHIO}
76   New_Hampshire  ...                                {NH, New Hampshire}
43  South_Carolina  ...               {SC, South Carolina, SOUTH CAROLINA}
21         Florida  ...                                          {Florida}
57         Indiana  ...                             {IN, Indiana, INDIANA}
23   New_York_City  ...        {NewYork, New York, NYC, NY, New York City}
64       Wisconsin  ...                         {WISCONSIN, WI, Wisconsin}
35    Pennsylvania  ...                                 {PA, Pennsylvania}
13        Virginia  ...                                     {VA, Virginia}
17          Nevada  ...                               {NEVADA, Nevada, NV}
28           Texas  ...                                 {TX, Texas, Texan}
48         Arizona  ...                                      {AZ, Arizona}
44          Mexico  ...                                           {Mexico}
26        Colorado  ...                                         {Colorado}
14  North_Carolina  ...    {NORTH CAROLINA, NC, North Carolina, Asheville}
56          Canada  ...                            {CAN, Canada, Canadian}
62        Michigan  ...                                     {Michigan, MI}
8             Iran  ...                                       {Iran, IRAN}

[20 rows x 4 columns]

------------------------------- TIPO: Place --------------------------------------

             label  ...                                         plain_text
2    United_States  ...  {USA, U.S., U.S.A., US, United States, America...
40            Iowa  ...                                         {IA, Iowa}
12            Ohio  ...                                       {Ohio, OHIO}
76   New_Hampshire  ...                                {NH, New Hampshire}
43  South_Carolina  ...               {SC, South Carolina, SOUTH CAROLINA}
21         Florida  ...                                          {Florida}
57         Indiana  ...                             {IN, Indiana, INDIANA}
23   New_York_City  ...        {NewYork, New York, NYC, NY, New York City}
64       Wisconsin  ...                         {WISCONSIN, WI, Wisconsin}
35    Pennsylvania  ...                                 {PA, Pennsylvania}
13        Virginia  ...                                     {VA, Virginia}
17          Nevada  ...                               {NEVADA, Nevada, NV}
28           Texas  ...                                 {TX, Texas, Texan}
48         Arizona  ...                                      {AZ, Arizona}
44          Mexico  ...                                           {Mexico}
26        Colorado  ...                                         {Colorado}
14  North_Carolina  ...    {NORTH CAROLINA, NC, North Carolina, Asheville}
56          Canada  ...                            {CAN, Canada, Canadian}
62        Michigan  ...                                     {Michigan, MI}
8             Iran  ...                                       {Iran, IRAN}

[20 rows x 4 columns]

------------------------------- TIPO: PopulatedPlace --------------------------------------

             label  ...                                         plain_text
1    United_States  ...  {USA, U.S., U.S.A., US, United States, America...
39            Iowa  ...                                         {IA, Iowa}
11            Ohio  ...                                       {Ohio, OHIO}
71   New_Hampshire  ...                                {NH, New Hampshire}
41  South_Carolina  ...               {SC, South Carolina, SOUTH CAROLINA}
20         Florida  ...                                          {Florida}
54         Indiana  ...                             {IN, Indiana, INDIANA}
22   New_York_City  ...        {NewYork, New York, NYC, NY, New York City}
60       Wisconsin  ...                         {WISCONSIN, WI, Wisconsin}
34    Pennsylvania  ...                                 {PA, Pennsylvania}
16          Nevada  ...                               {NEVADA, Nevada, NV}
12        Virginia  ...                                     {VA, Virginia}
27           Texas  ...                                 {TX, Texas, Texan}
46         Arizona  ...                                      {AZ, Arizona}
25        Colorado  ...                                         {Colorado}
42          Mexico  ...                                           {Mexico}
53          Canada  ...                            {CAN, Canada, Canadian}
13  North_Carolina  ...    {NORTH CAROLINA, NC, North Carolina, Asheville}
58        Michigan  ...                                     {Michigan, MI}
7             Iran  ...                                       {Iran, IRAN}

[20 rows x 4 columns]

------------------------------- TIPO: Person --------------------------------------

                label  ...                                         plain_text
1        Donald_Trump  ...  {Donald Trump, President Trump, DONALD TRUMP, ...
0     Hillary_Clinton  ...   {Hillary Clinton, Clinton, HRC, HILLARY CLINTON}
115        Jervy_Cruz  ...                                       {Cruz, CRUZ}
60           Ted_Cruz  ...                               {TED CRUZ, Ted Cruz}
2        Barack_Obama  ...  {Barrack Obama, Obama, President Obama, debating}
106       Marco_Rubio  ...                        {RUBIO, Marco Rubio, Rubio}
9      Bernie_Sanders  ...          {Bernie sanders, Sanders, Bernie Sanders}
18        Mitt_Romney  ...                              {Mitt Romney, Romney}
5        Bill_Clinton  ...                   {Clinton, CLINTON, Bill Clinton}
63   Elizabeth_Warren  ...       {Senator Elizabeth Warren, Elizabeth Warren}
111          Jeb_Bush  ...                              {Jeb, Jeb Bush, Jeb!}
42     Greta_Thunberg  ...                                     {greta, Greta}
133       Ricky_Rubio  ...                                            {Rubio}
62         Pocahontas  ...                                       {Pocahontas}
164    George_W._Bush  ...                                {Bush, George Bush}
68        John_Kasich  ...                                      {John Kasich}
17     Lindsey_Graham  ...                                   {Lindsey Graham}
26      Gabby_Barrett  ...                                           {I hope}
66          Tim_Kaine  ...                                 {Tim Kaine, Kaine}
158     Johnny_Carson  ...                                           {Carson}

[20 rows x 4 columns]

------------------------------- TIPO: Politician --------------------------------------

                       label  ...                                         plain_text
1               Donald_Trump  ...  {Donald Trump, President Trump, DONALD TRUMP, ...
0            Hillary_Clinton  ...   {Hillary Clinton, Clinton, HRC, HILLARY CLINTON}
35                  Ted_Cruz  ...                               {TED CRUZ, Ted Cruz}
2               Barack_Obama  ...  {Barrack Obama, Obama, President Obama, debating}
54               Marco_Rubio  ...                        {RUBIO, Marco Rubio, Rubio}
7             Bernie_Sanders  ...          {Bernie sanders, Sanders, Bernie Sanders}
4               Bill_Clinton  ...                   {Clinton, CLINTON, Bill Clinton}
11               Mitt_Romney  ...                              {Mitt Romney, Romney}
36          Elizabeth_Warren  ...       {Senator Elizabeth Warren, Elizabeth Warren}
57                  Jeb_Bush  ...                              {Jeb, Jeb Bush, Jeb!}
77            George_W._Bush  ...                                {Bush, George Bush}
40               John_Kasich  ...                                      {John Kasich}
10            Lindsey_Graham  ...                                   {Lindsey Graham}
38                 Tim_Kaine  ...                                 {Tim Kaine, Kaine}
18         George_Washington  ...                                       {Washington}
30                Mike_Pence  ...                                       {Mike Pence}
15            Vladimir_Putin  ...                                            {Putin}
48                 Paul_Ryan  ...                                        {Paul Ryan}
41       Ruth_Bader_Ginsburg  ...            {Ruth Bader Ginsburg, Justice Ginsburg}
39  Debbie_Wasserman_Schultz  ...                         {Debbie Wasserman Schultz}

[20 rows x 4 columns]

------------------------------- TIPO: Organisation --------------------------------------

                                            label  ...                                         plain_text
2                                             CNN  ...                                         {CNN, cnn}
19                                       Fox_News  ...  {foxnews, Fox News, Fox News Channel, FoxNews,...
4                                   Enjoy_Records  ...                    {enjoy!, ENJOY!, Enjoy, Enjoy!}
24               Republican_Party_(United_States)  ...  {SR, Republican party, Republicans, Republican...
7                            United_States_Senate  ...   {US Senator, senator, Senator, Senate, Senators}
69                       Fox_Broadcasting_Company  ...                            {FOX, Fox, Fox Network}
21                                        People!  ...                                          {people!}
59                  Republican_National_Committee  ...               {RNC, Republican National Committee}
1                                             NBC  ...                                              {NBC}
15                                 WIN_Television  ...                                              {WIN}
50                                           NATO  ...                                    {N.A.T.O, NATO}
14                                           WILL  ...                                             {WILL}
3   History_of_the_United_States_Democratic_Party  ...                                        {Democrats}
46                  Democratic_National_Committee  ...                                              {DNC}
77            New_York_Republican_State_Committee  ...                                              {GOP}
48               Democratic_Party_(United_States)  ...  {Democratic, Democratic Party, Democrats, Demo...
62                                            CBS  ...                                              {CBS}
5        State_Administration_of_Foreign_Exchange  ...                                             {SAFE}
70                  American_Broadcasting_Company  ...                                              {ABC}
73                                  Orlando_Magic  ...                                          {Orlando}

[20 rows x 4 columns]

------------------------------- TIPO: Work --------------------------------------

                                 label  ...                                         plain_text
7                     The_Tonight_Show  ...  {tonight!, Tonight, The Tonight Show, tonight,...
16                  The_New_York_Times  ...                  {NYTimes, nytimes, NYT, NY Times}
6             Wow_(Kylie_Minogue_song)  ...                                              {Wow}
24        You_(South_African_magazine)  ...                                              {YOU}
29                                Sad!  ...                                 {Sad!, sad!, SAD!}
4                              Twitter  ...  {tweeting, tweets, tweeted, twitter, tweet, Tw...
15            Look_(American_magazine)  ...                                             {Look}
0                The_Beach_Boys_Today!  ...                                   {TODAY!, today!}
3              The_Wall_Street_Journal  ...                         {Wall Street Journal, WSJ}
76           Traveling_Wilburys_Vol._1  ...                 {congratulations, Congratulations}
5                                I_Won  ...                                     {I WON, I won}
222                    National_Review  ...                             {NRO, National Review}
52   Totally_Biased_with_W._Kamau_Bell  ...                                   {totally biased}
47              Times_Higher_Education  ...                                              {THE}
146              Anderson_Cooper_360Â°  ...                                            {AC360}
22                            Disgrace  ...                               {DISGRACE, disgrace}
145           Everybody_(Madonna_song)  ...                             {EVERYBODY, Everybody}
78                          Great_News  ...                           {great news, Great news}
46                 Pretty_Little_Liars  ...                       {unbelievable, Unbelievable}
9       Action!_(programming_language)  ...                        {action!, ACTION!, Action!}

[20 rows x 4 columns]

------------------------------- TIPO: AdministrativeRegion --------------------------------------

             label  ...                                       plain_text
11            Iowa  ...                                       {IA, Iowa}
0             Ohio  ...                                     {Ohio, OHIO}
22   New_Hampshire  ...                              {NH, New Hampshire}
13  South_Carolina  ...             {SC, South Carolina, SOUTH CAROLINA}
5          Florida  ...                                        {Florida}
17         Indiana  ...                           {IN, Indiana, INDIANA}
19       Wisconsin  ...                       {WISCONSIN, WI, Wisconsin}
10    Pennsylvania  ...                               {PA, Pennsylvania}
3           Nevada  ...                             {NEVADA, Nevada, NV}
1         Virginia  ...                                   {VA, Virginia}
9            Texas  ...                               {TX, Texas, Texan}
14         Arizona  ...                                    {AZ, Arizona}
8         Colorado  ...                                       {Colorado}
2   North_Carolina  ...  {NORTH CAROLINA, NC, North Carolina, Asheville}
18        Michigan  ...                                   {Michigan, MI}
16            Utah  ...                                       {Utah, UT}
28      California  ...                                     {California}
15       Louisiana  ...                           {LOUISIANA, Louisiana}
12        Missouri  ...                                   {Missouri, MO}
47          Kansas  ...                                         {Kansas}

[20 rows x 4 columns]

------------------------------- TIPO: Region --------------------------------------

             label  ...                                       plain_text
11            Iowa  ...                                       {IA, Iowa}
0             Ohio  ...                                     {Ohio, OHIO}
22   New_Hampshire  ...                              {NH, New Hampshire}
13  South_Carolina  ...             {SC, South Carolina, SOUTH CAROLINA}
5          Florida  ...                                        {Florida}
17         Indiana  ...                           {IN, Indiana, INDIANA}
19       Wisconsin  ...                       {WISCONSIN, WI, Wisconsin}
10    Pennsylvania  ...                               {PA, Pennsylvania}
3           Nevada  ...                             {NEVADA, Nevada, NV}
1         Virginia  ...                                   {VA, Virginia}
9            Texas  ...                               {TX, Texas, Texan}
14         Arizona  ...                                    {AZ, Arizona}
8         Colorado  ...                                       {Colorado}
2   North_Carolina  ...  {NORTH CAROLINA, NC, North Carolina, Asheville}
18        Michigan  ...                                   {Michigan, MI}
16            Utah  ...                                       {Utah, UT}
28      California  ...                                     {California}
15       Louisiana  ...                           {LOUISIANA, Louisiana}
12        Missouri  ...                                   {Missouri, MO}
47          Kansas  ...                                         {Kansas}

[20 rows x 4 columns]

------------------------------- TIPO: Country --------------------------------------

                                  label  ...                                         plain_text
0                         United_States  ...  {USA, U.S., U.S.A., US, United States, America...
8                                Mexico  ...                                           {Mexico}
11                               Canada  ...                            {CAN, Canada, Canadian}
1   North_American_Free_Trade_Agreement  ...                                            {NAFTA}
4                                  Iran  ...                                       {Iran, IRAN}
2                                Russia  ...                                           {Russia}
9                                 China  ...                                   {China, Chinese}
18                               Norway  ...                                               {NO}
24                       United_Kingdom  ...                                {UK, U.K., Britain}
6                                  Iraq  ...                                       {IRAQ, Iraq}
21                               Israel  ...                                           {Israel}
7                                 Syria  ...                                            {Syria}
19                               France  ...                                   {French, France}
5                                 Libya  ...                                     {LIBYA, Libya}
14                                India  ...                                        {IN, India}
20                              Germany  ...                                          {Germany}
30                                 Cuba  ...                                             {Cuba}
26                         Saudi_Arabia  ...                              {Saudi, Saudi Arabia}
17                              Ukraine  ...                                          {Ukraine}
34                         Vatican_City  ...                       {Vatican City, Vatican city}

[20 rows x 4 columns]

------------------------------- TIPO: Broadcaster --------------------------------------

                            label  ...                                         plain_text
2                             CNN  ...                                         {CNN, cnn}
5                        Fox_News  ...  {foxnews, Fox News, Fox News Channel, FoxNews,...
11       Fox_Broadcasting_Company  ...                            {FOX, Fox, Fox Network}
1                             NBC  ...                                              {NBC}
3                            WILL  ...                                             {WILL}
4                  WIN_Television  ...                                              {WIN}
12  American_Broadcasting_Company  ...                                              {ABC}
10                            CBS  ...                                              {CBS}
7                            WALL  ...                                             {WALL}
8                           MSNBC  ...                                            {MSNBC}
13                      WINS_(AM)  ...                                             {WINS}
0                            CNBC  ...                                             {CNBC}
6                 RT_(TV_network)  ...                                               {RT}
9                         WJAC-TV  ...                          {Johnstown, Pennsylvania}
14                    MSG_Network  ...                                              {MSG}
15                           Vuzu  ...                                               {GO}
16                      WHAT_(AM)  ...                                             {WHAT}
17                2M_(TV_channel)  ...                                               {2M}
18                      WITH_(FM)  ...                                             {WITH}
19              Much_(TV_channel)  ...                                             {MUCH}

[20 rows x 4 columns]

------------------------------- TIPO: MusicalWork --------------------------------------

                           label  ...                          plain_text
3       Wow_(Kylie_Minogue_song)  ...                               {Wow}
13                          Sad!  ...                  {Sad!, sad!, SAD!}
0          The_Beach_Boys_Today!  ...                    {TODAY!, today!}
34     Traveling_Wilburys_Vol._1  ...  {congratulations, Congratulations}
2                          I_Won  ...                      {I WON, I won}
69      Everybody_(Madonna_song)  ...              {EVERYBODY, Everybody}
6            Disaster!_(musical)  ...              {DISASTER!, disaster!}
53       Bad_(XXXTentacion_song)  ...                        {BAD!, bad!}
29                     Overrated  ...                         {overrated}
27                       Change!  ...         {change!, Change!, CHANGE!}
61        Listen_(BeyoncÃ©_song)  ...                            {listen}
45                    Can't_Wait  ...                        {Can't wait}
7                    My_Thoughts  ...                       {My thoughts}
18  Apologize_(OneRepublic_song)  ...                         {Apologize}
48      Yesterday_(Beatles_song)  ...                         {Yesterday}
15     No_One_(Alicia_Keys_song)  ...                    {NO ONE, No One}
44                   Disgraceful  ...                       {Disgraceful}
5          Happy_Birthday_to_You  ...    {HAPPY BIRTHDAY, Happy birthday}
77     Be_Careful_(Cardi_B_song)  ...            {Be careful, BE CAREFUL}
41  The_Reason_(Hoobastank_song)  ...                        {The reason}

[20 rows x 4 columns]

------------------------------- TIPO: Settlement --------------------------------------

                   label  ...                                         plain_text
7          New_York_City  ...        {NewYork, New York, NYC, NY, New York City}
13      Washington,_D.C.  ...                            {D.C., Washington D.C.}
1                   Nice  ...                                             {Nice}
4              Cleveland  ...                                        {Cleveland}
43                Dallas  ...                                           {Dallas}
48             Las_Vegas  ...  {Las Vegas, LAS VEGAS, NEVADA, Las Vegas, Nevada}
9                  Miami  ...                                            {Miami}
51            Pittsburgh  ...                                       {Pittsburgh}
37             San_Diego  ...                 {San Diego, San Diego, California}
22      Phoenix,_Arizona  ...       {Phoenix, AZ, PHOENIX, AZ, Phoenix, Arizona}
21               Chicago  ...                                          {Chicago}
110  Burlington,_Vermont  ...                                       {Burlington}
50               Atlanta  ...                        {Atlanta, Georgia, Atlanta}
52        Tampa,_Florida  ...                            {Tampa, Tampa, Florida}
16               Detroit  ...                                          {Detroit}
10               Houston  ...                                          {Houston}
2               Benghazi  ...                                         {Benghazi}
34                Denver  ...                                           {Denver}
72                  York  ...                                             {YORK}
61                 Paris  ...                                            {Paris}

[20 rows x 4 columns]

------------------------------- TIPO: TelevisionStation --------------------------------------

                label  ...                                         plain_text
1                 CNN  ...                                         {CNN, cnn}
4            Fox_News  ...  {foxnews, Fox News, Fox News Channel, FoxNews,...
2                WILL  ...                                             {WILL}
3      WIN_Television  ...                                              {WIN}
6               MSNBC  ...                                            {MSNBC}
0                CNBC  ...                                             {CNBC}
5     RT_(TV_network)  ...                                               {RT}
7             WJAC-TV  ...                          {Johnstown, Pennsylvania}
8         MSG_Network  ...                                              {MSG}
9                Vuzu  ...                                               {GO}
10    2M_(TV_channel)  ...                                               {2M}
11  Much_(TV_channel)  ...                                             {MUCH}
12            WMUR-TV  ...                                             {WMUR}

[13 rows x 4 columns]

------------------------------- TIPO: City --------------------------------------

                  label  ...                                    plain_text
3         New_York_City  ...   {NewYork, New York, NYC, NY, New York City}
8      Washington,_D.C.  ...                       {D.C., Washington D.C.}
1             Cleveland  ...                                   {Cleveland}
5                 Miami  ...                                       {Miami}
39           Pittsburgh  ...                                  {Pittsburgh}
32               Dallas  ...                                      {Dallas}
16              Chicago  ...                                     {Chicago}
28            San_Diego  ...            {San Diego, San Diego, California}
17     Phoenix,_Arizona  ...  {Phoenix, AZ, PHOENIX, AZ, Phoenix, Arizona}
0              Benghazi  ...                                    {Benghazi}
40       Tampa,_Florida  ...                       {Tampa, Tampa, Florida}
38              Atlanta  ...                   {Atlanta, Georgia, Atlanta}
86  Burlington,_Vermont  ...                                  {Burlington}
11              Detroit  ...                                     {Detroit}
6               Houston  ...                                     {Houston}
58                 York  ...                                        {YORK}
48                Paris  ...                                       {Paris}
33           Cincinnati  ...                                  {Cincinnati}
78           Manchester  ...                                  {Manchester}
27               Denver  ...                                      {Denver}

[20 rows x 4 columns]

------------------------------- TIPO: WrittenWork --------------------------------------

                           label  ...                            plain_text
3             The_New_York_Times  ...     {NYTimes, nytimes, NYT, NY Times}
6   You_(South_African_magazine)  ...                                 {YOU}
2       Look_(American_magazine)  ...                                {Look}
1        The_Wall_Street_Journal  ...            {Wall Street Journal, WSJ}
40               National_Review  ...                {NRO, National Review}
10        Times_Higher_Education  ...                                 {THE}
5                       Disgrace  ...                  {DISGRACE, disgrace}
0                Time_(magazine)  ...  {TIME magazine, Time magazine, TIME}
20                     USA_Today  ...                 {USA Today, USATODAY}
13           Liar!_(short_story)  ...                 {Liar!, LIAR!, liar!}
22               Love_(magazine)  ...                                {LOVE}
12           The_Washington_Post  ...           {WaPo, The Washington Post}
29                            GQ  ...                            {GQ, G.Q.}
27                 New_York_Post  ...               {NYPost, New York Post}
34                  The_39_Clues  ...            {UNSTOPPABLE, unstoppable}
41                           OK!  ...                                 {OK!}
28                Sleepy_(novel)  ...                              {sleepy}
38                       Blasted  ...                             {blasted}
37              Hartford_Courant  ...                    {Hartford Courant}
36               Life_(magazine)  ...                                {LIFE}

[20 rows x 4 columns]

------------------------------- TIPO: TelevisionShow --------------------------------------

                                label  ...                                         plain_text
0                    The_Tonight_Show  ...  {tonight!, Tonight, The Tonight Show, tonight,...
25              Anderson_Cooper_360Â°  ...                                            {AC360}
7   Totally_Biased_with_W._Kamau_Bell  ...                                   {totally biased}
12                         Great_News  ...                           {great news, Great news}
5                 Pretty_Little_Liars  ...                       {unbelievable, Unbelievable}
20                            Big_Day  ...                                 {big day, Big day}
1                   The_Tomorrow_Show  ...                                         {Tomorrow}
40                    Face_the_Nation  ...                 {FACE THE NATION, Face The Nation}
29                            Friends  ...                                          {Friends}
27                            Hannity  ...                                 {Hannity, HANNITY}
13                  11AM_(TV_program)  ...                                             {11am}
22    This_Week_(American_TV_program)  ...                                        {This Week}
3                              WOMEN!  ...                                   {women!, WOMEN!}
9                           Get_Smart  ...                           {GET SMART!, Get smart!}
32               The_View_(talk_show)  ...                                         {The View}
23               Good_Morning_America  ...       {Good morning America, Good Morning America}
30                     Big_Difference  ...                   {BIG DIFFERENCE, Big difference}
28                 Women_of_Wrestling  ...                                              {WOW}
15                            Stupid!  ...                                          {stupid!}
39                           Spirited  ...                                         {spirited}

[20 rows x 4 columns]

------------------------------- TIPO: PeriodicalLiterature --------------------------------------

                           label  ...                            plain_text
3             The_New_York_Times  ...     {NYTimes, nytimes, NYT, NY Times}
5   You_(South_African_magazine)  ...                                 {YOU}
2       Look_(American_magazine)  ...                                {Look}
1        The_Wall_Street_Journal  ...            {Wall Street Journal, WSJ}
24               National_Review  ...                {NRO, National Review}
7         Times_Higher_Education  ...                                 {THE}
0                Time_(magazine)  ...  {TIME magazine, Time magazine, TIME}
10                     USA_Today  ...                 {USA Today, USATODAY}
11               Love_(magazine)  ...                                {LOVE}
17                            GQ  ...                            {GQ, G.Q.}
8            The_Washington_Post  ...           {WaPo, The Washington Post}
16                 New_York_Post  ...               {NYPost, New York Post}
25                           OK!  ...                                 {OK!}
12                      Just_Out  ...                            {JUST OUT}
14             Classy_(magazine)  ...                              {classy}
15                      McCall's  ...                               {Rosie}
9                       Exclaim!  ...                             {exclaim}
6              Los_Angeles_Times  ...                            {LA Times}
18              Talkers_Magazine  ...                             {Talkers}
19                Crazy_Magazine  ...                               {Crazy}

[20 rows x 4 columns]

------------------------------- TIPO: Song --------------------------------------

                              label  ...                        plain_text
1          Wow_(Kylie_Minogue_song)  ...                             {Wow}
5                              Sad!  ...                {Sad!, sad!, SAD!}
0                             I_Won  ...                    {I WON, I won}
35         Everybody_(Madonna_song)  ...            {EVERYBODY, Everybody}
14                        Overrated  ...                       {overrated}
27          Bad_(XXXTentacion_song)  ...                      {BAD!, bad!}
31           Listen_(BeyoncÃ©_song)  ...                          {listen}
10     Apologize_(OneRepublic_song)  ...                       {Apologize}
24         Yesterday_(Beatles_song)  ...                       {Yesterday}
22                       Can't_Wait  ...                      {Can't wait}
2             Happy_Birthday_to_You  ...  {HAPPY BIRTHDAY, Happy birthday}
7         No_One_(Alicia_Keys_song)  ...                  {NO ONE, No One}
41        Be_Careful_(Cardi_B_song)  ...          {Be careful, BE CAREFUL}
16     Chance!_(Koharu_Kusumi_song)  ...                         {chance!}
20     The_Reason_(Hoobastank_song)  ...                      {The reason}
45                           Video!  ...                          {video!}
40                           I_Will  ...                          {I WILL}
25  Empty_Room_(Sanna_Nielsen_song)  ...                      {empty room}
21                           So_Sad  ...                          {So sad}
50              Sleazy_(Kesha_song)  ...                          {sleazy}

[20 rows x 4 columns]

------------------------------- TIPO: Company --------------------------------------

                            label  ...                            plain_text
0                   Enjoy_Records  ...       {enjoy!, ENJOY!, Enjoy, Enjoy!}
7   Republican_National_Committee  ...  {RNC, Republican National Committee}
6   Democratic_National_Committee  ...                                 {DNC}
3                         Reuters  ...                    {REUTERS, Reuters}
14               Trump_University  ...                    {Trump University}
13               NewDay_(company)  ...                              {NewDay}
30            Bjarke_Ingels_Group  ...                                 {BIG}
37                      Citigroup  ...                                {Citi}
22      The_Glad_Products_Company  ...                          {glad, Glad}
29                     Apple_Inc.  ...                               {Apple}
18                       Politico  ...                  {politico, Politico}
28                 Wide_Open_West  ...                                {WOW!}
23             Ford_Motor_Company  ...                                {Ford}
21                         Google  ...                              {Google}
19           Smart_Communications  ...                        {Smart, SMART}
16                     GO_Transit  ...                                  {GO}
2                       DC_Comics  ...                                  {DC}
25                       Cadillac  ...                            {Cadillac}
38               No_Sleep_Records  ...                            {No sleep}
31          Public_Policy_Polling  ...                                 {PPP}

[20 rows x 4 columns]

------------------------------- TIPO: Athlete --------------------------------------

                   label  ...        plain_text
8             Jervy_Cruz  ...      {Cruz, CRUZ}
11           Ricky_Rubio  ...           {Rubio}
1            El_Terrible  ...        {Terrible}
16         Shayne_Graham  ...          {Graham}
3            Dwyane_Wade  ...     {Dwyane Wade}
0          Arnold_Palmer  ...   {Arnold Palmer}
15          Jericho_Cruz  ...            {Cruz}
14      Donovan_Mitchell  ...        {Mitchell}
13          Bill_Elliott  ...    {Bill Elliott}
12    Robert_Lewandowski  ...     {Lewandowski}
9           Marcus_Smart  ...           {Smart}
10            Jim_Herman  ...      {Jim Herman}
7       Bubba_Ray_Dudley  ...           {Bubba}
6         Natalie_Gulbis  ...  {Natalie Gulbis}
5             Gary_Byrne  ...      {Gary Byrne}
4      LaMarcus_Aldridge  ...        {Aldridge}
2   Gerald_Henderson_Jr.  ...       {Henderson}
17           Don_Bradman  ...         {The Don}

[18 rows x 4 columns]

------------------------------- TIPO: BasketballPlayer --------------------------------------

                  label  ...     plain_text
3            Jervy_Cruz  ...   {Cruz, CRUZ}
5           Ricky_Rubio  ...        {Rubio}
1           Dwyane_Wade  ...  {Dwyane Wade}
0  Gerald_Henderson_Jr.  ...    {Henderson}
2     LaMarcus_Aldridge  ...     {Aldridge}
4          Marcus_Smart  ...        {Smart}
6      Donovan_Mitchell  ...     {Mitchell}
7          Jericho_Cruz  ...         {Cruz}

[8 rows x 4 columns]

------------------------------- TIPO: Album --------------------------------------

                              label  ...                          plain_text
0             The_Beach_Boys_Today!  ...                    {TODAY!, today!}
15        Traveling_Wilburys_Vol._1  ...  {congratulations, Congratulations}
12                          Change!  ...         {change!, Change!, CHANGE!}
3                       My_Thoughts  ...                       {My thoughts}
21                      Disgraceful  ...                       {Disgraceful}
13                           Tough!  ...                            {tough!}
31            Devil_Without_a_Cause  ...                      {wasting time}
19                  The_Blueprint_3  ...                          {Reminder}
23                          Packed!  ...                           {packed!}
25    Thank_You_(Duran_Duran_album)  ...                         {Thank You}
43                     Don't_Forget  ...                      {Don't forget}
9                 Endlessly_(album)  ...                         {endlessly}
10                   Antics_(album)  ...                            {antics}
45                     Totally_Lost  ...                      {totally lost}
39               Advisory_Committee  ...                {Advisory Committee}
33            Secret_Weapon_(album)  ...                     {secret weapon}
34       Thrilled_(Punchline_album)  ...                          {thrilled}
35  Thankful_(Kelly_Clarkson_album)  ...                          {thankful}
36                   Believe_in_Him  ...                    {Believe In Him}
37                        Energized  ...                         {energized}

[20 rows x 4 columns]

------------------------------- TIPO: Magazine --------------------------------------

                           label  ...                            plain_text
3   You_(South_African_magazine)  ...                                 {YOU}
1       Look_(American_magazine)  ...                                {Look}
13               National_Review  ...                {NRO, National Review}
4         Times_Higher_Education  ...                                 {THE}
0                Time_(magazine)  ...  {TIME magazine, Time magazine, TIME}
6                Love_(magazine)  ...                                {LOVE}
9                             GQ  ...                            {GQ, G.Q.}
14                           OK!  ...                                 {OK!}
2                    Jockey_Slut  ...                               {Dummy}
5                       Exclaim!  ...                             {exclaim}
7              Classy_(magazine)  ...                              {classy}
8                       McCall's  ...                               {Rosie}
10              Talkers_Magazine  ...                             {Talkers}
11                Crazy_Magazine  ...                               {Crazy}
12               Life_(magazine)  ...                                {LIFE}

[15 rows x 4 columns]

------------------------------- TIPO: PoliticalParty --------------------------------------

                                            label  ...                                         plain_text
2                Republican_Party_(United_States)  ...  {SR, Republican party, Republicans, Republican...
0   History_of_the_United_States_Democratic_Party  ...                                        {Democrats}
4                Democratic_Party_(United_States)  ...  {Democratic, Democratic Party, Democrats, Demo...
7             New_York_Republican_State_Committee  ...                                              {GOP}
3                     Militant_Socialist_Movement  ...                                              {MSM}
1                   Republican_Party_of_Minnesota  ...                                       {Republican}
5                            Australian_Democrats  ...                                        {Democrats}
6                                       New_Unity  ...                                            {Unity}
14                    California_Republican_Party  ...                                       {Republican}
8                     Bridge_of_Independent_Lists  ...                                             {MOST}
9                     California_Democratic_Party  ...                                         {Democrat}
10                                  Respect_Party  ...                                          {Respect}
11                  Republican_Party_of_Wisconsin  ...                                       {Republican}
12                      Communist_Party_of_Canada  ...                                            {comm.}
13                         Pakistan_Peoples_Party  ...                                              {PPP}
15                   Conservative_Party_of_Canada  ...                                    {Conservatives}

[16 rows x 4 columns]

------------------------------- TIPO: RecordLabel --------------------------------------

                  label  ...                       plain_text
0         Enjoy_Records  ...  {enjoy!, ENJOY!, Enjoy, Enjoy!}
1    Relentless_Records  ...                     {relentless}
2  Anti-_(record_label)  ...                          {Anti-}
3        I.R.S._Records  ...                         {I.R.S.}
4           FMR_Records  ...                            {FMR}
5      No_Sleep_Records  ...                       {No sleep}

[6 rows x 4 columns]

------------------------------- TIPO: Newspaper --------------------------------------

                      label  ...                         plain_text
1        The_New_York_Times  ...  {NYTimes, nytimes, NYT, NY Times}
0   The_Wall_Street_Journal  ...         {Wall Street Journal, WSJ}
4                 USA_Today  ...              {USA Today, USATODAY}
3       The_Washington_Post  ...        {WaPo, The Washington Post}
7             New_York_Post  ...            {NYPost, New York Post}
2         Los_Angeles_Times  ...                         {LA Times}
5                  Just_Out  ...                         {JUST OUT}
6                Daily_Mail  ...                        {DailyMail}
8              Sun-Sentinel  ...                     {Sun Sentinel}
9             Florida_Today  ...                            {TODAY}
10         Hartford_Courant  ...                 {Hartford Courant}

[11 rows x 4 columns]

------------------------------- TIPO: Legislature --------------------------------------

                                    label  ...                                        plain_text
0                    United_States_Senate  ...  {US Senator, senator, Senator, Senate, Senators}
2  United_States_House_of_Representatives  ...                              {House, Congressman}
1  House_of_Commons_of_the_United_Kingdom  ...                                              {HC}
3  United_States_House_Committee_on_Rules  ...                                 {Rules Committee}
4                  United_States_Congress  ...                                        {Congress}

[5 rows x 4 columns]

------------------------------- TIPO: Band --------------------------------------

                 label  ...                 plain_text
3              People!  ...                  {people!}
7     Unleashed_(band)  ...                {unleashed}
11        Liars_(band)  ...  {LIARS, liars, The Liars}
4          Live_(band)  ...                     {LIVE}
5            God_Bless  ...                {God bless}
23         Rush_(band)  ...                     {Rush}
19         Dope_(band)  ...                     {Dope}
18  HIM_(Finnish_band)  ...                      {HIM}
0      A_Global_Threat  ...          {A Global Threat}
16   Dark_Latin_Groove  ...                      {DLG}
24               Truly  ...                    {Truly}
22     Bad_News_(band)  ...                 {bad news}
21       Winner_(band)  ...                   {Winner}
20         Does_(band)  ...                     {DOES}
17            I_Concur  ...                 {I concur}
13              D-Side  ...               {speechless}
15          Still_Time  ...               {Still time}
14            Enablers  ...                 {enablers}
1                 Neu!  ...                      {HER}
12     The_Politicians  ...          {The politicians}

[20 rows x 4 columns]

------------------------------- TIPO: Group --------------------------------------

                 label  ...                 plain_text
3              People!  ...                  {people!}
7     Unleashed_(band)  ...                {unleashed}
11        Liars_(band)  ...  {LIARS, liars, The Liars}
4          Live_(band)  ...                     {LIVE}
5            God_Bless  ...                {God bless}
23         Rush_(band)  ...                     {Rush}
19         Dope_(band)  ...                     {Dope}
18  HIM_(Finnish_band)  ...                      {HIM}
0      A_Global_Threat  ...          {A Global Threat}
16   Dark_Latin_Groove  ...                      {DLG}
24               Truly  ...                    {Truly}
22     Bad_News_(band)  ...                 {bad news}
21       Winner_(band)  ...                   {Winner}
20         Does_(band)  ...                     {DOES}
17            I_Concur  ...                 {I concur}
13              D-Side  ...               {speechless}
15          Still_Time  ...               {Still time}
14            Enablers  ...                 {enablers}
1                 Neu!  ...                      {HER}
12     The_Politicians  ...          {The politicians}

[20 rows x 4 columns]

------------------------------- TIPO: Website --------------------------------------

                     label  ...                                         plain_text
0                  Twitter  ...  {tweeting, tweets, tweeted, twitter, tweet, Tw...
2                 Facebook  ...                                         {Facebook}
6              NBCNews.com  ...                                 {nbcnews, NBCNews}
3           Breitbart_News  ...                                        {Breitbart}
7                  YouTube  ...                                          {YouTube}
4                WikiLeaks  ...                                {leaked, Wikileaks}
12  World_Opponent_Network  ...                                              {WON}
1            Common_Dreams  ...                                    {common dreams}
5                  Ask.com  ...                                              {Ask}
8               PolitiFact  ...                                       {PolitiFact}
9               MailOnline  ...                                       {MailOnline}
10      The_Gateway_Pundit  ...                                   {Gateway Pundit}
11                RedState  ...                                         {RedState}
13                 Newsmax  ...                                          {Newsmax}

[14 rows x 4 columns]

------------------------------- TIPO: BroadcastNetwork --------------------------------------

                           label  ...               plain_text
2       Fox_Broadcasting_Company  ...  {FOX, Fox, Fox Network}
0                            NBC  ...                    {NBC}
1                            CBS  ...                    {CBS}
3  American_Broadcasting_Company  ...                    {ABC}

[4 rows x 4 columns]

------------------------------- TIPO: FictionalCharacter --------------------------------------

                        label  ...    plain_text
5                       Goofy  ...       {Goofy}
3                Kaine_Parker  ...       {Kaine}
17               Rory_Gilmore  ...        {Rory}
10              Ailsa_Stewart  ...       {Ailsa}
0   Spirit_(comics_character)  ...  {The spirit}
14             Barbara_Gordon  ...     {Barbara}
22                   Sad_Sack  ...    {Sad sack}
21                   Superman  ...    {Superman}
20               Kelly_Kapoor  ...       {Kelly}
19              Tabitha_Smith  ...    {Meltdown}
18            Winifred_Burkle  ...        {Fred}
16             Vanessa_Abrams  ...     {Vanessa}
15             Sheldon_Cooper  ...     {Sheldon}
12             Joey_Tribbiani  ...        {Joey}
13        J._Wellington_Wimpy  ...       {wimpy}
1               Alex_Rousseau  ...        {Alex}
11                 Riley_Finn  ...       {Riley}
9              Cheryl_Blossom  ...      {Cheryl}
8             Tamara_Kingsley  ...      {Tamara}
7            Morgan_Corinthos  ...      {Morgan}

[20 rows x 4 columns]

------------------------------- TIPO: Artist --------------------------------------

                  label  ...         plain_text
3         Gabby_Barrett  ...           {I hope}
14        Johnny_Carson  ...           {Carson}
7           Sid_Vicious  ...          {vicious}
2            Dave_Grohl  ...            {late!}
6        Shah_Rukh_Khan  ...             {Khan}
0         Miho_Karasawa  ...             {TRUE}
12      Angeline_Quinto  ...             {ASAP}
17        Johnny_Mercer  ...           {Mercer}
16  Blaze_Ya_Dead_Homie  ...            {Blaze}
15      Stephen_Colbert  ...          {Colbert}
13            Yoni_Wolf  ...             {Why?}
9                Speak!  ...           {speak!}
11                 Dels  ...             {dels}
10                 Rone  ...             {Rone}
1                Kiiara  ...           {Kiiara}
8            Bill_Payne  ...            {Payne}
5            Brainpower  ...       {brainpower}
4          Eef_Barzelay  ...         {lose big}
18      Whoopi_Goldberg  ...  {Whoopi Goldberg}

[19 rows x 4 columns]

------------------------------- TIPO: Event --------------------------------------

                                       label  ...                                         plain_text
1             NEVER_(professional_wrestling)  ...                                            {NEVER}
3   2016_United_States_presidential_election  ...  {2016 elections, 2016 presidential election, e...
7   2008_United_States_presidential_election  ...                           {election, presidential}
0                                   Iraq_War  ...                                         {Iraq War}
10                                Super_Bowl  ...                                       {Super Bowl}
2                    Hackers_on_Planet_Earth  ...                                             {HOPE}
5                       Operation_Courageous  ...                                       {courageous}
4                     Port_Said_Stadium_riot  ...                                      {mass attack}
6      Bobsleigh_at_the_2006_Winter_Olympics  ...                                          {two-man}
8   Conservative_Political_Action_Conference  ...                                             {CPAC}
9             2011_Canadian_federal_election  ...                                         {election}
11                        Battle_of_Waterloo  ...                                         {WATERLOO}

[12 rows x 4 columns]

------------------------------- TIPO: SocietalEvent --------------------------------------

                                       label  ...                                         plain_text
1             NEVER_(professional_wrestling)  ...                                            {NEVER}
3   2016_United_States_presidential_election  ...  {2016 elections, 2016 presidential election, e...
6   2008_United_States_presidential_election  ...                           {election, presidential}
0                                   Iraq_War  ...                                         {Iraq War}
9                                 Super_Bowl  ...                                       {Super Bowl}
2                    Hackers_on_Planet_Earth  ...                                             {HOPE}
4                       Operation_Courageous  ...                                       {courageous}
5      Bobsleigh_at_the_2006_Winter_Olympics  ...                                          {two-man}
7   Conservative_Political_Action_Conference  ...                                             {CPAC}
8             2011_Canadian_federal_election  ...                                         {election}
10                        Battle_of_Waterloo  ...                                         {WATERLOO}

[11 rows x 4 columns]

------------------------------- TIPO: EthnicGroup --------------------------------------

                                    label  ...                                         plain_text
1                       African_Americans  ...  {African-American, African-Americans, African ...
6                                 Refugee  ...                                {refugee, refugees}
9   Native_Americans_in_the_United_States  ...                 {Native American, native American}
7                                 Syrians  ...                                  {Syrians, Syrian}
8                            Palestinians  ...                                      {Palestinian}
0                          Roanoke_people  ...                                          {Roanoke}
2           Hispanic_and_Latino_Americans  ...                                          {Latinos}
3                         Iranian_peoples  ...                                         {Iranians}
4                                Russians  ...                                         {Russians}
5                              Mon_people  ...                                              {Mon}
10                         Spokane_people  ...                                          {Spokane}
11                         Wichita_people  ...                                          {Wichita}
12                       Polish_Americans  ...                                {Polish immigrants}

[13 rows x 4 columns]

------------------------------- TIPO: ArchitecturalStructure --------------------------------------

                                      label  ...                    plain_text
5                               White_House  ...                 {White House}
7                          Turnberry_Castle  ...                   {Turnberry}
1               Naval_Air_Station_Pensacola  ...          {Pensacola, Florida}
2                       Great_Wall_of_China  ...                  {great wall}
3                 Interstate_495_(New_York)  ...                         {LIE}
12                               Mar-a-Lago  ...                  {Mar-a-Lago}
0                 RailsWest_Railroad_Museum  ...        {Council Bluffs, Iowa}
11                         Bethpage_station  ...                    {bethpage}
15                Charleston_Naval_Shipyard  ...  {Charleston, South Carolina}
14                                   Mosque  ...                      {Mosque}
13                          Churchill_Downs  ...        {Louisville, Kentucky}
8                 Independent_Subway_System  ...                         {ind}
10  National_September_11_Memorial_&_Museum  ...        {9/11 Memorial Museum}
9                           Eppley_Airfield  ...             {Omaha, Nebraska}
6       Atlantic_City_International_Airport  ...               {Atlantic City}
4          Des_Moines_International_Airport  ...            {Des Moines, Iowa}
16   Mayo_Clinic_Health_System_Event_Center  ...     {Verizon Wireless Center}

[17 rows x 4 columns]

------------------------------- TIPO: MusicalArtist --------------------------------------

                  label  ...    plain_text
3         Gabby_Barrett  ...      {I hope}
6           Sid_Vicious  ...     {vicious}
2            Dave_Grohl  ...       {late!}
0         Miho_Karasawa  ...        {TRUE}
1                Kiiara  ...      {Kiiara}
4          Eef_Barzelay  ...    {lose big}
5            Brainpower  ...  {brainpower}
7            Bill_Payne  ...       {Payne}
8                Speak!  ...      {speak!}
9                  Dels  ...        {dels}
10      Angeline_Quinto  ...        {ASAP}
11            Yoni_Wolf  ...        {Why?}
12  Blaze_Ya_Dead_Homie  ...       {Blaze}
13        Johnny_Mercer  ...      {Mercer}

[14 rows x 4 columns]

------------------------------- TIPO: Activity --------------------------------------

                  label  ...    plain_text
3             Go_(game)  ...          {Go}
1                  Golf  ...  {Golf, golf}
6      Forgotten_Realms  ...      {Finder}
0     American_football  ...     {defense}
2              Softball  ...    {softball}
4                 Bowls  ...       {bowls}
5  Association_football  ...    {football}

[7 rows x 4 columns]

------------------------------- TIPO: ComicsCharacter --------------------------------------

                       label  ...    plain_text
2                      Goofy  ...       {Goofy}
1               Kaine_Parker  ...       {Kaine}
0  Spirit_(comics_character)  ...  {The spirit}
3             Barbara_Gordon  ...     {Barbara}
4              Tabitha_Smith  ...    {Meltdown}
5                   Superman  ...    {Superman}
6                   Sad_Sack  ...    {Sad sack}

[7 rows x 4 columns]

------------------------------- TIPO: Film --------------------------------------

                           label  ...      plain_text
4                      Great_Guy  ...     {great guy}
1                     High_Crime  ...    {high crime}
3                         House!  ...        {house!}
5                          Easy!  ...         {easy!}
7                   Wacko_(film)  ...  {wacko, Wacko}
0                     Trafficked  ...    {Trafficked}
2                    All_Tied_Up  ...   {ALL TIED UP}
6   Avenged_(2013_American_film)  ...       {savaged}
8                   Happy_Easter  ...  {Happy Easter}
9                Hellhole_(film)  ...     {hell hole}
10                       My_Sons  ...       {My sons}
11        All_Aboard_(1917_film)  ...    {All aboard}
12                       So_Cute  ...       {So cute}
13                 No-One_(film)  ...        {No-one}
14                          IOWA  ...          {IOWA}

[15 rows x 4 columns]

------------------------------- TIPO: SportsTeam --------------------------------------

                      label  ...             plain_text
4             Orlando_Magic  ...              {Orlando}
3      Jacksonville_Jaguars  ...         {Jacksonville}
0         Charlotte_Hornets  ...            {Charlotte}
1    Clarence_Football_Club  ...             {Clarence}
2        Washington_Stealth  ...  {Everett, Washington}
5    Richmond_Football_Club  ...             {Richmond}
6          Sacramento_Kings  ...           {Sacramento}
7          New_York_Yankees  ...     {New York Yankees}
8             Buffalo_Bills  ...              {Buffalo}
9            Houston_Texans  ...               {Texans}
10             Chicago_Cubs  ...         {Chicago Cubs}
11  Claremont_Football_Club  ...            {Claremont}

[12 rows x 4 columns]

------------------------------- TIPO: Book --------------------------------------

                              label  ...                         plain_text
0                          Disgrace  ...               {DISGRACE, disgrace}
9                    Sleepy_(novel)  ...                           {sleepy}
10                     The_39_Clues  ...         {UNSTOPPABLE, unstoppable}
1   The_Conservative_Case_for_Trump  ...  {THE CONSERVATIVE CASE FOR TRUMP}
2                 In_Trump_We_Trust  ...                {In Trump We Trust}
3                      Clinton_Cash  ...                     {Clinton Cash}
4                The_Field_of_Fight  ...               {THE FIELD OF FIGHT}
5                  Careless_(novel)  ...                         {careless}
6                      Making_Money  ...                     {Making Money}
7                     Raising_Taxes  ...                    {raising taxes}
8                           Join_Me  ...                          {JOIN ME}

[11 rows x 4 columns]

------------------------------- TIPO: Disease --------------------------------------

                           label  ...          plain_text
1                       Neurosis  ...          {neurotic}
0                  Drug_overdose  ...    {drug overdoses}
9                         Bruise  ...          {bruising}
15  Acute_lymphoblastic_leukemia  ...               {ALL}
14                      Bleeding  ...          {bleeding}
13                       Rickets  ...           {Rickets}
12                  Perspiration  ...             {sweat}
11                       Choking  ...           {choking}
10                   Brain_death  ...        {brain-dead}
8                         Stupor  ...            {stupor}
7                      Nightmare  ...         {nightmare}
6                       Hysteria  ...          {hysteria}
5                       Drooling  ...          {drooling}
4                     Mentorship  ...            {Mentor}
3                Mental_disorder  ...  {mental breakdown}
2                          Cough  ...          {coughing}
16                       Suicide  ...           {suicide}

[17 rows x 4 columns]

------------------------------- TIPO: Software --------------------------------------

                            label  ...                   plain_text
0  Action!_(programming_language)  ...  {action!, ACTION!, Action!}
1             Flunky_(video_game)  ...                     {flunky}
4                  More_(command)  ...                       {MORE}
2                       Instagram  ...                  {Instagram}
3                Total_Distortion  ...           {total distortion}
5            Fallout_(video_game)  ...                    {SPECIAL}
6                        Snapchat  ...                   {Snapchat}

[7 rows x 4 columns]

------------------------------- TIPO: Genre --------------------------------------

              label  ...      plain_text
2        Rock_music  ...          {rock}
0              Pols  ...          {pols}
1       Swing_music  ...  {swing, Swing}
3  Red_dirt_(music)  ...      {red dirt}

[4 rows x 4 columns]

------------------------------- TIPO: MusicGenre --------------------------------------

              label  ...      plain_text
2        Rock_music  ...          {rock}
0              Pols  ...          {pols}
1       Swing_music  ...  {swing, Swing}
3  Red_dirt_(music)  ...      {red dirt}

[4 rows x 4 columns]

------------------------------- TIPO: TopicalConcept --------------------------------------

              label  ...      plain_text
2        Rock_music  ...          {rock}
0              Pols  ...          {pols}
1       Swing_music  ...  {swing, Swing}
3  Red_dirt_(music)  ...      {red dirt}

[4 rows x 4 columns]

------------------------------- TIPO: SportsClub --------------------------------------

                  label  ...  plain_text
2  San_Jose_Earthquakes  ...  {San Jose}
5         F.C._New_York  ...       {NEW}
3          Reading_F.C.  ...   {Reading}
0   Deportes_Magallanes  ...      {MAGA}
1               AFC_DWS  ...       {DWS}
4        Footscray_JUST  ...      {JUST}
6    Dayton_Dutch_Lions  ...       {DAY}
7         Real_Monarchs  ...       {SLC}
8       Persepolis_F.C.  ...  {The Club}
9             Getafe_CF  ...       {GET}

[10 rows x 4 columns]

------------------------------- TIPO: SoccerClub --------------------------------------

                  label  ...  plain_text
2  San_Jose_Earthquakes  ...  {San Jose}
5         F.C._New_York  ...       {NEW}
3          Reading_F.C.  ...   {Reading}
0   Deportes_Magallanes  ...      {MAGA}
1               AFC_DWS  ...       {DWS}
4        Footscray_JUST  ...      {JUST}
6    Dayton_Dutch_Lions  ...       {DAY}
7         Real_Monarchs  ...       {SLC}
8       Persepolis_F.C.  ...  {The Club}
9             Getafe_CF  ...       {GET}

[10 rows x 4 columns]

------------------------------- TIPO: GovernmentAgency --------------------------------------

                                               label  ...         plain_text
0           State_Administration_of_Foreign_Exchange  ...             {SAFE}
3          Veterans'_Employment_and_Training_Service  ...             {VETS}
1  National_Institute_for_Health_and_Care_Excellence  ...             {NICE}
2                                    Federal_Reserve  ...  {Federal Reserve}

[4 rows x 4 columns]

------------------------------- TIPO: Biomolecule --------------------------------------

                              label  ...  plain_text
0   Bcl-2-associated_death_promoter  ...       {BAD}
1             DNA_polymerase_lambda  ...      {POLL}
2         Amyloid_precursor_protein  ...       {APP}
3  Epidermal_growth_factor_receptor  ...       {HER}
4                      SecY_protein  ...      {Secy}

[5 rows x 4 columns]

------------------------------- TIPO: AnatomicalStructure --------------------------------------

        label  count                                     uri plain_text
4       Heart      6       http://dbpedia.org/resource/Heart    {heart}
5       Nerve      2       http://dbpedia.org/resource/Nerve    {nerve}
0        Hair      1        http://dbpedia.org/resource/Hair     {hair}
1        Heel      1        http://dbpedia.org/resource/Heel     {heel}
2       Brain      1       http://dbpedia.org/resource/Brain    {brain}
3  Human_nose      1  http://dbpedia.org/resource/Human_nose     {nose}
6      Breast      1      http://dbpedia.org/resource/Breast     {bust}
7        Skin      1        http://dbpedia.org/resource/Skin     {skin}

------------------------------- TIPO: Game --------------------------------------

              label  ...  plain_text
0         Go_(game)  ...        {Go}
1  Forgotten_Realms  ...    {Finder}

[2 rows x 4 columns]

------------------------------- TIPO: HumanGene --------------------------------------

                              label  ...  plain_text
0   Bcl-2-associated_death_promoter  ...       {BAD}
1             DNA_polymerase_lambda  ...      {POLL}
2         Amyloid_precursor_protein  ...       {APP}
3  Epidermal_growth_factor_receptor  ...       {HER}

[4 rows x 4 columns]

------------------------------- TIPO: Gene --------------------------------------

                              label  ...  plain_text
0   Bcl-2-associated_death_promoter  ...       {BAD}
1             DNA_polymerase_lambda  ...      {POLL}
2         Amyloid_precursor_protein  ...       {APP}
3  Epidermal_growth_factor_receptor  ...       {HER}

[4 rows x 4 columns]

------------------------------- TIPO: ChemicalSubstance --------------------------------------

                   label  ...        plain_text
0               Hydrogen  ...               {H}
1                 Heroin  ...  {heroin, Heroin}
2              Threonine  ...             {thr}
3  S-Adenosyl_methionine  ...            {SAME}
4                   Lead  ...            {Lead}

[5 rows x 4 columns]

------------------------------- TIPO: Bank --------------------------------------

                          label  ...  plain_text
0              NewDay_(company)  ...    {NewDay}
1                    Apple_Inc.  ...     {Apple}
2                     Citigroup  ...      {Citi}
3  American_International_Group  ...       {AIG}

[4 rows x 4 columns]

------------------------------- TIPO: Building --------------------------------------

                                     label  ...                 plain_text
2                              White_House  ...              {White House}
1                      Great_Wall_of_China  ...               {great wall}
4                               Mar-a-Lago  ...               {Mar-a-Lago}
0                RailsWest_Railroad_Museum  ...     {Council Bluffs, Iowa}
3  National_September_11_Memorial_&_Museum  ...     {9/11 Memorial Museum}
5                                   Mosque  ...                   {Mosque}
6   Mayo_Clinic_Health_System_Event_Center  ...  {Verizon Wireless Center}

[7 rows x 4 columns]

------------------------------- TIPO: RadioStation --------------------------------------

       label  count                                    uri plain_text
0       WALL      6       http://dbpedia.org/resource/WALL     {WALL}
1  WINS_(AM)      3  http://dbpedia.org/resource/WINS_(AM)     {WINS}
2  WHAT_(AM)      1  http://dbpedia.org/resource/WHAT_(AM)     {WHAT}
3  WITH_(FM)      1  http://dbpedia.org/resource/WITH_(FM)     {WITH}
4    WBUR-FM      1    http://dbpedia.org/resource/WBUR-FM     {WBUR}

------------------------------- TIPO: Election --------------------------------------

                                      label  ...                                         plain_text
0  2016_United_States_presidential_election  ...  {2016 elections, 2016 presidential election, e...
1  2008_United_States_presidential_election  ...                           {election, presidential}
2            2011_Canadian_federal_election  ...                                         {election}

[3 rows x 4 columns]

------------------------------- TIPO: Sport --------------------------------------

                  label  ...    plain_text
1                  Golf  ...  {Golf, golf}
0     American_football  ...     {defense}
2              Softball  ...    {softball}
3                 Bowls  ...       {bowls}
4  Association_football  ...    {football}

[5 rows x 4 columns]

------------------------------- TIPO: MilitaryUnit --------------------------------------

                                               label  ...                         plain_text
7                                         Union_Army  ...                            {Union}
3                          United_States_Coast_Guard  ...  {United States Coast Guard, USCG}
0                             Singapore_Armed_Forces  ...                              {SAF}
1                            United_States_Air_Force  ...          {United States Air Force}
2                                 United_States_Army  ...                             {Army}
4  United_States_Army_Military_District_of_Washin...  ...                              {MDW}
5                      People's_Liberation_Army_Navy  ...                             {PLAN}
6                              Bengal_Engineer_Group  ...                              {BEG}

[8 rows x 4 columns]

------------------------------- TIPO: ChemicalCompound --------------------------------------

                   label  ...  plain_text
0               Hydrogen  ...         {H}
1              Threonine  ...       {thr}
2  S-Adenosyl_methionine  ...      {SAME}
3                   Lead  ...      {Lead}

[4 rows x 4 columns]

------------------------------- TIPO: Island --------------------------------------

             label  ...         plain_text
0           Crimea  ...           {Crimea}
1          Ireland  ...          {Ireland}
3      Long_Island  ...      {Long Island}
2    Great_Britain  ...    {Great Britain}
4  Mariana_Islands  ...  {Mariana Islands}

[5 rows x 4 columns]

------------------------------- TIPO: BasketballTeam --------------------------------------

               label  ...    plain_text
1      Orlando_Magic  ...     {Orlando}
0  Charlotte_Hornets  ...   {Charlotte}
2   Sacramento_Kings  ...  {Sacramento}

[3 rows x 4 columns]

------------------------------- TIPO: SportsEvent --------------------------------------

                                   label  ...    plain_text
0         NEVER_(professional_wrestling)  ...       {NEVER}
2                             Super_Bowl  ...  {Super Bowl}
1  Bobsleigh_at_the_2006_Winter_Olympics  ...     {two-man}

[3 rows x 4 columns]

------------------------------- TIPO: Comedian --------------------------------------

             label  ...         plain_text
0    Johnny_Carson  ...           {Carson}
1  Stephen_Colbert  ...          {Colbert}
2  Whoopi_Goldberg  ...  {Whoopi Goldberg}

[3 rows x 4 columns]

------------------------------- TIPO: Continent --------------------------------------

         label  ...                                  plain_text
1       Europe  ...                                    {Europe}
0  Middle_East  ...  {Middle Eastern, Middle East, middle east}
2     Americas  ...                                  {AMERICAS}

[3 rows x 4 columns]

------------------------------- TIPO: Device --------------------------------------

               label  ...    plain_text
0            M72_LAW  ...         {LAW}
1   Vickers_Vigilant  ...    {vigilant}
2  IBM_Power_Systems  ...      {COMMON}
3             IPhone  ...      {iPhone}
4         ReMarkable  ...  {Remarkable}

[5 rows x 4 columns]

------------------------------- TIPO: MeanOfTransportation --------------------------------------

            label  ...  plain_text
0      Grob_G_109  ...  {vigilant}
1        Udet_U_1  ...       {U 4}
2      Ford_Focus  ...     {Focus}
3     HNoMS_Nasty  ...     {Nasty}
4  Holden_Caprice  ...        {WH}

[5 rows x 4 columns]

------------------------------- TIPO: Town --------------------------------------

                         label  ...                     plain_text
4      Plymouth,_New_Hampshire  ...      {Plymouth, New Hampshire}
0  Kenansville,_North_Carolina  ...  {Kenansville, North Carolina}
1       Windham,_New_Hampshire  ...       {Windham, New Hampshire}
2                       Munich  ...                       {Munich}
3         Salem,_New_Hampshire  ...         {Salem, New Hampshire}
5    Lexington,_South_Carolina  ...    {Lexington, South Carolina}
6    Farmington,_New_Hampshire  ...    {Farmington, New Hampshire}

[7 rows x 4 columns]

------------------------------- TIPO: Cleric --------------------------------------

               label  ...      plain_text
1               Adam  ...          {Adam}
0       Saint_Joseph  ...        {Joseph}
2       Pope_Francis  ...  {Pope Francis}
3  Brigid_of_Kildare  ...        {Brigid}
4      Saint_Barbara  ...       {Barbara}
5                Eve  ...           {Eve}

[6 rows x 4 columns]

------------------------------- TIPO: CollegeCoach --------------------------------------

        label  count                                     uri      plain_text
1  Bob_Knight      6  http://dbpedia.org/resource/Bob_Knight  {Bobby Knight}
0   Lou_Holtz      1   http://dbpedia.org/resource/Lou_Holtz     {Lou Holtz}

------------------------------- TIPO: Coach --------------------------------------

        label  count                                     uri      plain_text
1  Bob_Knight      6  http://dbpedia.org/resource/Bob_Knight  {Bobby Knight}
0   Lou_Holtz      1   http://dbpedia.org/resource/Lou_Holtz     {Lou Holtz}

------------------------------- TIPO: Infrastructure --------------------------------------

                                 label  ...          plain_text
0            Interstate_495_(New_York)  ...               {LIE}
1     Des_Moines_International_Airport  ...  {Des Moines, Iowa}
2  Atlantic_City_International_Airport  ...     {Atlantic City}
3            Independent_Subway_System  ...               {ind}
4                      Eppley_Airfield  ...   {Omaha, Nebraska}
5                     Bethpage_station  ...          {bethpage}

[6 rows x 4 columns]

------------------------------- TIPO: MilitaryConflict --------------------------------------

                  label  ...    plain_text
0              Iraq_War  ...    {Iraq War}
1  Operation_Courageous  ...  {courageous}
2    Battle_of_Waterloo  ...    {WATERLOO}

[3 rows x 4 columns]

------------------------------- TIPO: Saint --------------------------------------

               label  ...  plain_text
1               Adam  ...      {Adam}
0       Saint_Joseph  ...    {Joseph}
2  Brigid_of_Kildare  ...    {Brigid}
3      Saint_Barbara  ...   {Barbara}
4                Eve  ...       {Eve}

[5 rows x 4 columns]

------------------------------- TIPO: CityDistrict --------------------------------------

                         label  ...                                        plain_text
1  Mechanicsburg,_Pennsylvania  ...  {Mechanicsburg, Pennsylvania, Mechanicsburg, PA}
0                Little_Havana  ...                                   {Little Havana}
2                    Manhattan  ...                                       {Manhattan}
3   West_Chester,_Pennsylvania  ...                      {West Chester, Pennsylvania}
4                Staten_Island  ...                                   {Staten Island}
5                    Hollywood  ...                                  {West Hollywood}

[6 rows x 4 columns]

------------------------------- TIPO: TradeUnion --------------------------------------

                                    label  ...                        plain_text
0  International_Brotherhood_of_Teamsters  ...                       {Teamsters}
1          National_Border_Patrol_Council  ...  {National Border Patrol Council}
2                         Unite_the_Union  ...                           {UNITE}

[3 rows x 4 columns]

------------------------------- TIPO: Musical --------------------------------------

                 label  ...              plain_text
0  Disaster!_(musical)  ...  {DISASTER!, disaster!}

[1 rows x 4 columns]

------------------------------- TIPO: VideoGame --------------------------------------

                  label  ...          plain_text
0   Flunky_(video_game)  ...            {flunky}
1      Total_Distortion  ...  {total distortion}
2  Fallout_(video_game)  ...           {SPECIAL}

[3 rows x 4 columns]

------------------------------- TIPO: SoapCharacter --------------------------------------

              label  ...  plain_text
4     Ailsa_Stewart  ...     {Ailsa}
0     Debbie_Dingle  ...    {Debbie}
1    Jack_Duckworth  ...      {Jack}
2  Morgan_Corinthos  ...    {Morgan}
3   Tamara_Kingsley  ...    {Tamara}

[5 rows x 4 columns]

------------------------------- TIPO: WrestlingEvent --------------------------------------

                            label  ...  plain_text
0  NEVER_(professional_wrestling)  ...     {NEVER}

[1 rows x 4 columns]

------------------------------- TIPO: SportsLeague --------------------------------------

                      label  ...  plain_text
0     Swedish_Hockey_League  ...       {shl}
1      Ladies_European_Tour  ...       {LET}
2  National_Football_League  ...       {NFL}
3           American_League  ...        {AL}

[4 rows x 4 columns]

------------------------------- TIPO: Aircraft --------------------------------------

        label  count                                     uri  plain_text
0  Grob_G_109      4  http://dbpedia.org/resource/Grob_G_109  {vigilant}
1    Udet_U_1      1    http://dbpedia.org/resource/Udet_U_1       {U 4}

------------------------------- TIPO: AmericanFootballTeam --------------------------------------

                  label  ...      plain_text
0  Jacksonville_Jaguars  ...  {Jacksonville}
1         Buffalo_Bills  ...       {Buffalo}
2        Houston_Texans  ...        {Texans}

[3 rows x 4 columns]

------------------------------- TIPO: Writer --------------------------------------

                    label  ...     plain_text
2            Walter_Scott  ...        {Scott}
0             Elie_Wiesel  ...  {Elie Wiesel}
1             Jean_Racine  ...       {Racine}
3  William_F._Buckley_Jr.  ...      {Buckley}

[4 rows x 4 columns]

------------------------------- TIPO: MilitaryStructure --------------------------------------

                         label  ...                    plain_text
0  Naval_Air_Station_Pensacola  ...          {Pensacola, Florida}
1    Charleston_Naval_Shipyard  ...  {Charleston, South Carolina}

[2 rows x 4 columns]

------------------------------- TIPO: Wrestler --------------------------------------

              label  ...  plain_text
0       El_Terrible  ...  {Terrible}
1  Bubba_Ray_Dudley  ...     {Bubba}

[2 rows x 4 columns]

------------------------------- TIPO: Tower --------------------------------------

              label  ...   plain_text
0  Turnberry_Castle  ...  {Turnberry}

[1 rows x 4 columns]

------------------------------- TIPO: Comic --------------------------------------

              label  ...      plain_text
0  Scream!_(comics)  ...       {scream!}
1     X-Nation_2099  ...        {uproar}
2      Beck_(manga)  ...          {BECK}
3      Bad_Reporter  ...  {bad reporter}

[4 rows x 4 columns]

------------------------------- TIPO: Holiday --------------------------------------

          label  ...      plain_text
0  Memorial_Day  ...  {Memorial Day}
1     Christmas  ...     {Christmas}

[2 rows x 4 columns]

------------------------------- TIPO: Weapon --------------------------------------

              label  ...  plain_text
0           M72_LAW  ...       {LAW}
1  Vickers_Vigilant  ...  {vigilant}

[2 rows x 4 columns]

------------------------------- TIPO: InformationAppliance --------------------------------------

               label  ...    plain_text
0  IBM_Power_Systems  ...      {COMMON}
1             IPhone  ...      {iPhone}
2         ReMarkable  ...  {Remarkable}

[3 rows x 4 columns]

------------------------------- TIPO: MilitaryPerson --------------------------------------

                label  ...      plain_text
0        Philip_Broke  ...         {Broke}
1       Robert_E._Lee  ...           {Lee}
2  William_J._Donahue  ...  {Bill Donahue}

[3 rows x 4 columns]

------------------------------- TIPO: Model --------------------------------------

             label  ...  plain_text
0  Megan_Hauserman  ...     {Megan}

[1 rows x 4 columns]

------------------------------- TIPO: EducationalInstitution --------------------------------------

                         label  ...   plain_text
0        Pensacola_High_School  ...  {Pensacola}
1             Reno_High_School  ...       {Reno}
2  Elkhart_Central_High_School  ...    {Elkhart}
3       University_of_Limerick  ...         {UL}

[4 rows x 4 columns]

------------------------------- TIPO: Scientist --------------------------------------

                          label  ...  plain_text
1  Augustin_Pyramus_de_Candolle  ...       {DC.}
0            James_Edward_Smith  ...       {sm.}
2               Percival_Lowell  ...    {lowell}

[3 rows x 4 columns]

------------------------------- TIPO: Lighthouse --------------------------------------

              label  ...   plain_text
0  Turnberry_Castle  ...  {Turnberry}

[1 rows x 4 columns]

------------------------------- TIPO: TimeInterval --------------------------------------

          label  ...      plain_text
0  Memorial_Day  ...  {Memorial Day}
1     Christmas  ...     {Christmas}

[2 rows x 4 columns]

------------------------------- TIPO: Criminal --------------------------------------

                                          label  ...                plain_text
1  2016_shooting_of_Baton_Rouge_police_officers  ...  {Baton Rouge, Louisiana}
0                             David_Owen_Brooks  ...            {David Brooks}

[2 rows x 4 columns]

------------------------------- TIPO: NationalFootballLeagueEvent --------------------------------------

        label  count                                     uri    plain_text
0  Super_Bowl      3  http://dbpedia.org/resource/Super_Bowl  {Super Bowl}

------------------------------- TIPO: Convention --------------------------------------

                                      label  ...  plain_text
0                   Hackers_on_Planet_Earth  ...      {HOPE}
1  Conservative_Political_Action_Conference  ...      {CPAC}

[2 rows x 4 columns]

------------------------------- TIPO: School --------------------------------------

                         label  ...   plain_text
0        Pensacola_High_School  ...  {Pensacola}
1             Reno_High_School  ...       {Reno}
2  Elkhart_Central_High_School  ...    {Elkhart}

[3 rows x 4 columns]

------------------------------- TIPO: AustralianFootballTeam --------------------------------------

                     label  ...   plain_text
0   Clarence_Football_Club  ...   {Clarence}
1   Richmond_Football_Club  ...   {Richmond}
2  Claremont_Football_Club  ...  {Claremont}

[3 rows x 4 columns]

------------------------------- TIPO: Publisher --------------------------------------

           label  count                                        uri plain_text
0      DC_Comics      2      http://dbpedia.org/resource/DC_Comics       {DC}
1  HarperCollins      1  http://dbpedia.org/resource/HarperCollins  {Collins}

------------------------------- TIPO: GolfPlayer --------------------------------------

            label  ...        plain_text
0   Arnold_Palmer  ...   {Arnold Palmer}
1  Natalie_Gulbis  ...  {Natalie Gulbis}
2      Jim_Herman  ...      {Jim Herman}

[3 rows x 4 columns]

------------------------------- TIPO: RouteOfTransportation --------------------------------------

                       label  ...  plain_text
0  Interstate_495_(New_York)  ...       {LIE}
1  Independent_Subway_System  ...       {ind}

[2 rows x 4 columns]

------------------------------- TIPO: Airport --------------------------------------

                                 label  ...          plain_text
0     Des_Moines_International_Airport  ...  {Des Moines, Iowa}
1  Atlantic_City_International_Airport  ...     {Atlantic City}
2                      Eppley_Airfield  ...   {Omaha, Nebraska}

[3 rows x 4 columns]

------------------------------- TIPO: TelevisionSeason --------------------------------------

                      label  ...    plain_text
0  The_West_Wing_(season_2)  ...   {17 people}
1  The_West_Wing_(season_7)  ...  {The debate}
2   Warehouse_13_(season_1)  ...       {duped}

[3 rows x 4 columns]

------------------------------- TIPO: Royalty --------------------------------------

                  label  ...  plain_text
0  Charles_I_of_England  ...   {Charles}
1     Mary_I_of_England  ...      {Mary}

[2 rows x 4 columns]

------------------------------- TIPO: NaturalPlace --------------------------------------

            label  ...        plain_text
0       Lake_Erie  ...            {Erie}
1  Atlantic_Ocean  ...  {Atlantic Ocean}

[2 rows x 4 columns]

------------------------------- TIPO: BaseballTeam --------------------------------------

              label  ...          plain_text
0  New_York_Yankees  ...  {New York Yankees}
1      Chicago_Cubs  ...      {Chicago Cubs}

[2 rows x 4 columns]

------------------------------- TIPO: Language --------------------------------------

              label  ...  plain_text
0     Noon_language  ...      {NOON}
1  Russian_language  ...   {Russian}

[2 rows x 4 columns]

------------------------------- TIPO: SoccerPlayer --------------------------------------

                label  ...     plain_text
0          Gary_Byrne  ...   {Gary Byrne}
1  Robert_Lewandowski  ...  {Lewandowski}

[2 rows x 4 columns]

------------------------------- TIPO: BodyOfWater --------------------------------------

            label  ...        plain_text
0       Lake_Erie  ...            {Erie}
1  Atlantic_Ocean  ...  {Atlantic Ocean}

[2 rows x 4 columns]

------------------------------- TIPO: Road --------------------------------------

                       label  ...  plain_text
0  Interstate_495_(New_York)  ...       {LIE}

[1 rows x 4 columns]

------------------------------- TIPO: Nerve --------------------------------------

   label  count                                uri plain_text
0  Nerve      2  http://dbpedia.org/resource/Nerve    {nerve}

------------------------------- TIPO: Single --------------------------------------

               label  ...  plain_text
0           Who_Said  ...  {Who Said}
1  8AM_(maxi-single)  ...       {8am}

[2 rows x 4 columns]

------------------------------- TIPO: Actor --------------------------------------

            label  count                                         uri plain_text
0  Shah_Rukh_Khan      2  http://dbpedia.org/resource/Shah_Rukh_Khan     {Khan}

------------------------------- TIPO: RadioProgram --------------------------------------

                 label  ...           plain_text
0  The_Fred_Allen_Show  ...  {Town Hall tonight}

[1 rows x 4 columns]

------------------------------- TIPO: WorldHeritageSite --------------------------------------

    label  count                                 uri plain_text
0  Mỹ_Sơn      2  http://dbpedia.org/resource/Mỹ_Sơn   {My son}

------------------------------- TIPO: Automobile --------------------------------------

            label  count                                         uri plain_text
0      Ford_Focus      1      http://dbpedia.org/resource/Ford_Focus    {Focus}
1  Holden_Caprice      1  http://dbpedia.org/resource/Holden_Caprice       {WH}

------------------------------- TIPO: President --------------------------------------

         label  count                                      uri     plain_text
0  Vicente_Fox      2  http://dbpedia.org/resource/Vicente_Fox  {Vicente Fox}

------------------------------- TIPO: Food --------------------------------------

  label  count                               uri plain_text
0  Cake      1  http://dbpedia.org/resource/Cake     {cake}
1  Taco      1  http://dbpedia.org/resource/Taco     {taco}

------------------------------- TIPO: IceHockeyLeague --------------------------------------

                   label  ...  plain_text
0  Swedish_Hockey_League  ...       {shl}

[1 rows x 4 columns]

------------------------------- TIPO: AmericanFootballPlayer --------------------------------------

           label  count                                        uri plain_text
0  Shayne_Graham      2  http://dbpedia.org/resource/Shayne_Graham   {Graham}

------------------------------- TIPO: Drug --------------------------------------

    label  count                                 uri        plain_text
0  Heroin      2  http://dbpedia.org/resource/Heroin  {heroin, Heroin}

------------------------------- TIPO: Currency --------------------------------------

                  label  ...  plain_text
0  United_States_dollar  ...    {dollar}
1   Venezuelan_bolÃ­var  ...       {BS.}

[2 rows x 4 columns]

------------------------------- TIPO: PublicTransitSystem --------------------------------------

        label  count                                     uri plain_text
0  GO_Transit      2  http://dbpedia.org/resource/GO_Transit       {GO}

------------------------------- TIPO: GridironFootballPlayer --------------------------------------

           label  count                                        uri plain_text
0  Shayne_Graham      2  http://dbpedia.org/resource/Shayne_Graham   {Graham}

------------------------------- TIPO: Economist --------------------------------------

             label  ...  plain_text
0  Benjamin_Graham  ...    {Graham}

[1 rows x 4 columns]

------------------------------- TIPO: ComicStrip --------------------------------------

          label  ...      plain_text
0  Bad_Reporter  ...  {bad reporter}

[1 rows x 4 columns]

------------------------------- TIPO: Olympics --------------------------------------

                                   label  ...  plain_text
0  Bobsleigh_at_the_2006_Winter_Olympics  ...   {two-man}

[1 rows x 4 columns]

------------------------------- TIPO: TelevisionEpisode --------------------------------------

                      label  ...  plain_text
0  _Escape_from_the_Citadel  ...   {WAKE UP}

[1 rows x 4 columns]

------------------------------- TIPO: Protein --------------------------------------

          label  count                                       uri plain_text
0  SecY_protein      1  http://dbpedia.org/resource/SecY_protein     {Secy}

------------------------------- TIPO: Presenter --------------------------------------

        label  ...           plain_text
0  Fred_Allen  ...  {Town Hall tonight}

[1 rows x 4 columns]

------------------------------- TIPO: SportFacility --------------------------------------

             label  ...              plain_text
0  Churchill_Downs  ...  {Louisville, Kentucky}

[1 rows x 4 columns]

------------------------------- TIPO: BaseballLeague --------------------------------------

             label  ...  plain_text
0  American_League  ...        {AL}

[1 rows x 4 columns]

------------------------------- TIPO: AmericanFootballLeague --------------------------------------

                      label  ...  plain_text
0  National_Football_League  ...       {NFL}

[1 rows x 4 columns]

------------------------------- TIPO: GivenName --------------------------------------

     label  count                                  uri plain_text
0  Melissa      1  http://dbpedia.org/resource/Melissa  {Melissa}

------------------------------- TIPO: ReligiousBuilding --------------------------------------

    label  count                                 uri plain_text
0  Mosque      1  http://dbpedia.org/resource/Mosque   {Mosque}

------------------------------- TIPO: Name --------------------------------------

     label  count                                  uri plain_text
0  Melissa      1  http://dbpedia.org/resource/Melissa  {Melissa}

------------------------------- TIPO: Venue --------------------------------------

                                    label  ...                 plain_text
0  Mayo_Clinic_Health_System_Event_Center  ...  {Verizon Wireless Center}

[1 rows x 4 columns]

------------------------------- TIPO: Ship --------------------------------------

         label  count                                      uri plain_text
0  HNoMS_Nasty      1  http://dbpedia.org/resource/HNoMS_Nasty    {Nasty}

------------------------------- TIPO: RaceTrack --------------------------------------

             label  ...              plain_text
0  Churchill_Downs  ...  {Louisville, Kentucky}

[1 rows x 4 columns]

------------------------------- TIPO: Eukaryote --------------------------------------

             label  ...  plain_text
0  Happily_(horse)  ...   {Happily}

[1 rows x 4 columns]

------------------------------- TIPO: MotorsportRacer --------------------------------------

          label  ...      plain_text
0  Bill_Elliott  ...  {Bill Elliott}

[1 rows x 4 columns]

------------------------------- TIPO: ClericalAdministrativeRegion --------------------------------------

                            label  ...      plain_text
0  Roman_Catholic_Diocese_of_Reno  ...  {Reno, Nevada}

[1 rows x 4 columns]

------------------------------- TIPO: Station --------------------------------------

              label  ...  plain_text
0  Bethpage_station  ...  {bethpage}

[1 rows x 4 columns]

------------------------------- TIPO: Cricketer --------------------------------------

         label  count                                      uri plain_text
0  Don_Bradman      1  http://dbpedia.org/resource/Don_Bradman  {The Don}

------------------------------- TIPO: Animal --------------------------------------

             label  ...  plain_text
0  Happily_(horse)  ...   {Happily}

[1 rows x 4 columns]

------------------------------- TIPO: CelestialBody --------------------------------------

     label  count                                  uri plain_text
0  Jupiter      1  http://dbpedia.org/resource/Jupiter  {Jupiter}

------------------------------- TIPO: Diocese --------------------------------------

                            label  ...      plain_text
0  Roman_Catholic_Diocese_of_Reno  ...  {Reno, Nevada}

[1 rows x 4 columns]

------------------------------- TIPO: NascarDriver --------------------------------------

          label  ...      plain_text
0  Bill_Elliott  ...  {Bill Elliott}

[1 rows x 4 columns]

------------------------------- TIPO: Play --------------------------------------

     label  count                                  uri plain_text
0  Blasted      1  http://dbpedia.org/resource/Blasted  {blasted}

------------------------------- TIPO: GolfLeague --------------------------------------

                  label  ...  plain_text
0  Ladies_European_Tour  ...       {LET}

[1 rows x 4 columns]

------------------------------- TIPO: RailwayLine --------------------------------------

                       label  ...  plain_text
0  Independent_Subway_System  ...       {ind}

[1 rows x 4 columns]

------------------------------- TIPO: Horse --------------------------------------

             label  ...  plain_text
0  Happily_(horse)  ...   {Happily}

[1 rows x 4 columns]

------------------------------- TIPO: Species --------------------------------------

             label  ...  plain_text
0  Happily_(horse)  ...   {Happily}

[1 rows x 4 columns]

------------------------------- TIPO: University --------------------------------------

                    label  ...  plain_text
0  University_of_Limerick  ...        {UL}

[1 rows x 4 columns]

------------------------------- TIPO: OlympicEvent --------------------------------------

                                   label  ...  plain_text
0  Bobsleigh_at_the_2006_Winter_Olympics  ...   {two-man}

[1 rows x 4 columns]

------------------------------- TIPO: HistoricPlace --------------------------------------

              label  ...     plain_text
0  Carson_City_Mint  ...  {Carson City}

[1 rows x 4 columns]

------------------------------- TIPO: Planet --------------------------------------

     label  count                                  uri plain_text
0  Jupiter      1  http://dbpedia.org/resource/Jupiter  {Jupiter}

------------------------------- TIPO: TelevisionHost --------------------------------------

        label  ...           plain_text
0  Fred_Allen  ...  {Town Hall tonight}

[1 rows x 4 columns]

------------------------------- TIPO: RacingDriver --------------------------------------

          label  ...      plain_text
0  Bill_Elliott  ...  {Bill Elliott}

[1 rows x 4 columns]

------------------------------- TIPO: Mammal --------------------------------------

             label  ...  plain_text
0  Happily_(horse)  ...   {Happily}

[1 rows x 4 columns]

------------------------------- TIPO: Lake --------------------------------------

       label  count                                    uri plain_text
0  Lake_Erie      1  http://dbpedia.org/resource/Lake_Erie     {Erie}

------------------------------- TIPO: Manga --------------------------------------

          label  count                                       uri plain_text
0  Beck_(manga)      1  http://dbpedia.org/resource/Beck_(manga)     {BECK}

------------------------------- TIPO: Pope --------------------------------------

          label  ...      plain_text
0  Pope_Francis  ...  {Pope Francis}

[1 rows x 4 columns]

------------------------------- TIPO: Racecourse --------------------------------------

             label  ...              plain_text
0  Churchill_Downs  ...  {Louisville, Kentucky}

[1 rows x 4 columns]

### Sentiment

In [ ]:
sentiments = trump['text'].apply(TextBlob)

In [ ]:
polarities = [x.sentiment.polarity for x in sentiments]
subjectivities = [x.sentiment.subjectivity for x in sentiments]

In [ ]:
trump['sentiment'] = polarities
trump['subjectivity'] = subjectivities
trump

               handle  ... subjectivity
0     realDonaldTrump  ...     0.100000
1     realDonaldTrump  ...     0.000000
2     realDonaldTrump  ...     0.888889
3     realDonaldTrump  ...     0.600000
4     realDonaldTrump  ...     0.333333
...               ...  ...          ...
3213  realDonaldTrump  ...     0.750000
3214  realDonaldTrump  ...     0.833333
3215  realDonaldTrump  ...     1.000000
3216  realDonaldTrump  ...     0.000000
3217  realDonaldTrump  ...     0.283333

[3218 rows x 11 columns]

In [ ]:
polarity_mean = []
polarity_median = []
for index, el in entities_frame.iterrows():
  partial = list()
  for i in el['occurrences']:
    partial.append(trump.iloc[i]['sentiment'])
  polarity_mean.append(statistics.mean(partial))
  polarity_median.append(statistics.median(partial))

In [ ]:
entities_frame['sentiment_mean'] = polarity_mean
entities_frame['sentiment_median'] = polarity_median

In [ ]:
entities_frame[entities_frame['label']=='Vladimir_Putin']

                                         entita  ... sentiment_median
247  <__main__.Entity object at 0x7f38aeb4ee10>  ...        -0.257727

[1 rows x 8 columns]

In [ ]:
# entities_frame.to_csv('entities_trump.csv')

# Tabella entità usate in comune

In [ ]:
# partial_matrix = np.zeros([len(entities_frame), len(entities_frame)], dtype=int)
# for i in range(0,len(entities_frame)):
  # print(i, end= ' ')
  # for j in range(i+1,len(entities_frame)):
    # partial_matrix[i,j] = len(entities_frame.iloc[i]['occurrences'].intersection(entities_frame.iloc[j]['occurrences']))

In [ ]:
# np.savetxt("trump_entities_matrix.csv", partial_matrix, delimiter=",")

In [ ]:
trump_entities_matrix = np.genfromtxt('/content/drive/MyDrive/ProgettoAI/dataset/trump_entities_matrix.csv', delimiter=',')

# Query sparql

In [ ]:
# per utilizzarla inserire all'interno della query il token "TEXT_HERE" dove si vuole inserire l'uri dell'entità
def party_from_uri(uri_list, query, variable):
  tot = []
  for uri in uri_list:
    # print(uri)
    sparql = SPARQLWrapper("http://dbpedia.org/sparql")
    sparql.setQuery(query.replace('TEXT_HERE', uri))   
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    # tot.append(results["results"]["bindings"])
    if len(results["results"]["bindings"]) != 0:
      party = results["results"]["bindings"][0][variable]
      res_entity = {
              "res" :uri,
              variable: party["value"],
          }
    else:
      res_entity = {
              "res" :uri,
              variable: None,
          }
    tot.append(res_entity)
  return tot

#Politici piu nominati

In [ ]:
politici = entita_filter_by_type('Politician', entities_frame)
query ="""
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
              SELECT ?party_name
              WHERE {  
                 <TEXT_HERE>   dbp:party ?party_uri.
                 ?party_uri dbp:name ?party_name              
               }
          """
partiti = party_from_uri(entita_filter_by_type('Politician',entities_frame)['uri'], query, 'party_name')

In [80]:
politici['party'] = [x['party_name'] for x in partiti]
print('Republican Party')
display(politici[politici['party']=='Republican Party'].iloc[0:6])
print('--------------------------------------------------------------')
print('Democratic Party')
display(politici[politici['party']=='Democratic Party'].iloc[0:6])

NameError: ignored

# persone non politiche citate

In [ ]:
pd.concat([entita_filter_by_type('Person', entities_frame), politici]).drop_duplicates(subset=['label'], keep = False).iloc[0:10]

                label  count  ...          plain_text party
115        Jervy_Cruz    115  ...        {CRUZ, Cruz}   NaN
42     Greta_Thunberg     16  ...      {Greta, greta}   NaN
133       Ricky_Rubio     11  ...             {Rubio}   NaN
62         Pocahontas     10  ...        {Pocahontas}   NaN
26      Gabby_Barrett      9  ...            {I hope}   NaN
158     Johnny_Carson      7  ...            {Carson}   NaN
118        Bob_Knight      6  ...      {Bobby Knight}   NaN
130       Matt_Drudge      6  ...    {Drudge, DRUDGE}   NaN
138    Stuart_Stevens      5  ...    {Stuart Stevens}   NaN
25   Phyllis_Schlafly      4  ...  {Phyllis Schlafly}   NaN

[10 rows x 5 columns]

# stati americani piu citati

In [ ]:
entita_filter_by_type('Location', entities_frame)

query ="""
      PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
              SELECT ?name
              WHERE {  
                 <TEXT_HERE>   dbo:country ?country.
                 ?country dbp:conventionalLongName ?name.
               }
          """
countries = party_from_uri(entita_filter_by_type('Location',entities_frame)['uri'], query, 'name')

In [ ]:
luoghi_usa = entita_filter_by_type('Location',entities_frame)
luoghi_usa['country']= [x['name'] for x in countries]
luoghi_usa[luoghi_no_usa['country'] == 'United States of America']

                      label  ...                   country
40                     Iowa  ...  United States of America
12                     Ohio  ...  United States of America
76            New_Hampshire  ...  United States of America
43           South_Carolina  ...  United States of America
21                  Florida  ...  United States of America
..                      ...  ...                       ...
149  Costa_Mesa,_California  ...  United States of America
138             Los_Angeles  ...  United States of America
129            South_Dakota  ...  United States of America
124      Richmond,_Virginia  ...  United States of America
110           Bangor,_Maine  ...  United States of America

[100 rows x 5 columns]

#schieramento sugli stati (ecluso USA)

In [ ]:
luoghi = entita_filter_by_type('Country', entities_frame)
luoghi.iloc[0:10]

                                  label  ...                                         plain_text
0                         United_States  ...  {United States, U.S.A., American, USA, US, Uni...
8                                Mexico  ...                                           {Mexico}
11                               Canada  ...                            {CAN, Canada, Canadian}
1   North_American_Free_Trade_Agreement  ...                                            {NAFTA}
4                                  Iran  ...                                       {IRAN, Iran}
2                                Russia  ...                                           {Russia}
9                                 China  ...                                   {China, Chinese}
18                               Norway  ...                                               {NO}
24                       United_Kingdom  ...                                {UK, U.K., Britain}
6                                  Iraq  ...                                       {Iraq, IRAQ}

[10 rows x 4 columns]

In [ ]:
print(trump_entities_matrix[239,:].argmax())
print(trump_entities_matrix[:,239].argmax())
# entities_frame.iloc[535]

240
38

In [ ]:
entities_frame.iloc[240]

entita              <__main__.Entity object at 0x7f38af271ba8>
label                                               Red_carpet
count                                                        1
types                                                       []
occurrences                                              {220}
plain_text                                        {red carpet}
sentiment_mean                                            -0.5
sentiment_median                                          -0.5
Name: 240, dtype: object

In [ ]:
trump_entities_matrix[38,239]

4.0

In [ ]:
trump.iloc[1307]['text']

'Crooked Hillary Clintons foreign interventions unleashed ISIS in Syria, Iraq and Libya. She is reckless and dangerous!'

In [ ]:
entities_frame[entities_frame['label']=='China']

                                         entita  ... sentiment_median
239  <__main__.Entity object at 0x7f38aeaed630>  ...            -0.15

[1 rows x 8 columns]

# Organizzazioni

In [79]:
pd.concat([entita_filter_by_type('Organisation', entities_frame), entita_filter_by_type('PoliticalParty', entities_frame)]).drop_duplicates(subset=['label'], keep = False).drop('uri', axis=1).iloc[0:10]
# tutti le Organizzazioni che non siano un partito politico

                            label  ...                                         plain_text
2                             CNN  ...                                         {cnn, CNN}
19                       Fox_News  ...  {Foxnews, Fox News, Fox News Channel, foxnews,...
4                   Enjoy_Records  ...                    {Enjoy!, ENJOY!, Enjoy, enjoy!}
7            United_States_Senate  ...   {senator, US Senator, Senate, Senators, Senator}
69       Fox_Broadcasting_Company  ...                            {Fox, FOX, Fox Network}
21                        People!  ...                                          {people!}
59  Republican_National_Committee  ...               {RNC, Republican National Committee}
1                             NBC  ...                                              {NBC}
15                 WIN_Television  ...                                              {WIN}
50                           NATO  ...                                    {NATO, N.A.T.O}

[10 rows x 3 columns]

In [ ]:
entita_filter_by_type('Legislature', entities_frame)

                                    label  ...                                        plain_text
0                    United_States_Senate  ...  {US Senator, senator, Senator, Senate, Senators}
2  United_States_House_of_Representatives  ...                              {House, Congressman}
1  House_of_Commons_of_the_United_Kingdom  ...                                              {HC}
3  United_States_House_Committee_on_Rules  ...                                 {Rules Committee}
4                  United_States_Congress  ...                                        {Congress}

[5 rows x 4 columns]

In [ ]:
entita_filter_by_type('Broadcaster', entities_frame).iloc[0:5]

                       label  ...                                         plain_text
2                        CNN  ...                                         {CNN, cnn}
5                   Fox_News  ...  {foxnews, Fox News, Fox News Channel, FoxNews,...
11  Fox_Broadcasting_Company  ...                            {FOX, Fox, Fox Network}
1                        NBC  ...                                              {NBC}
3                       WILL  ...                                             {WILL}

[5 rows x 4 columns]

In [ ]:
entita_filter_by_type('PeriodicalLiterature', entities_frame).iloc[0:5]

                           label  ...                         plain_text
3             The_New_York_Times  ...  {NYTimes, nytimes, NYT, NY Times}
5   You_(South_African_magazine)  ...                              {YOU}
2       Look_(American_magazine)  ...                             {Look}
1        The_Wall_Street_Journal  ...         {Wall Street Journal, WSJ}
24               National_Review  ...             {NRO, National Review}

[5 rows x 4 columns]

#Sotituzione entità nel testo

In [ ]:
final_text = []
for index, row in trump.iterrows():
  partial = row['text']
  for ent in row['dbpedia_object'].entities:
    partial=partial.replace(ent.original_text, re.sub('[^A-Za-z0-9]+', '', ent.label))
  final_text.append(partial)

In [ ]:
# for index, row in trump.iterrows():
  # print(row['text'])
  # print(final_text[index])
  # print('---------------')

In [ ]:
pd.DataFrame(final_text, columns=['tweet']).to_csv('tweet_with_entities_trump.csv')